<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyundai.kosafinal.mapper.product.ProductReviewMapper">

  <resultMap id="ProductReviewMap" type="ProductReviewDTO">
    <result property="id" column="id"/>
    <result property="email" column="email"/>
    <result property="productId" column="product_id"/>
    <result property="productSize" column="product_size"/>
    <result property="productColorId" column="product_color_id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="editDate" column="edit_date"/>
    <result property="rate" column="rate"/>
    <result property="imgURI" column="image_uri"/>
    <result property="ctryLarge" column="product_category_large"/>
    <result property="ctryMedium" column="product_category_medium"/>
    <result property="ctrySmall" column="product_category_small"/>
    <result property="age" column="age"/>
    <result property="height" column="height"/>
    <result property="bodyType" column="body_type"/>
    <result property="avgSize" column="avg_size"/>
  </resultMap>

  <select id="getProductReviewByProductId" resultMap="ProductReviewMap">
    SELECT *
    FROM TABLE(SF_REVIEW_SELECT_GET(#{productId}))
  </select>

  <insert id="insertProductReview" statementType="CALLABLE"
    parameterType="com.hyundai.kosafinal.domain.ProductReviewDTO">
    <![CDATA[
    {call SP_REVIEW_INSERT(
      #{email},
      #{productId},
      #{productSize},
      #{productColorId},
      #{title},
      #{content},
      #{editDate},
      #{rate},
      #{imgURI},
      #{ctryLarge},
      #{ctryMedium},
      #{ctrySmall},
      #{age},
      #{height},
      #{bodyType},
      #{avgSize},
      #{sentiment_percent},
      #{sentiment_type})
      }
    ]]>
  </insert>
</mapper>
