<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/biz/layout/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="script">
    <script>
        // 한 페이지에 띄울 개수
        let amount = 5;

        $().ready(function () {

            // 테이블 선택한 행 table-active 적용
            $("input[type=checkbox]:not(#checkAll)").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('tr').addClass("table-active");
                } else {
                    $(this).closest('tr').removeClass("table-active");
                }
            });

            // 체크박스 전체선택/해제
            $("#checkAll").click(function () {
                $("input[type=checkbox]").prop("checked", this.checked).trigger("change");
            });

            // 체크된 체크박스 개수에 따라 checkAll 변경
            $("input[type=checkbox]:not(#checkAll)").click(function () {
                let total = $("input[type=checkbox]:not(#checkAll)").length;
                let checked = $("input[type=checkbox]:checked:not(#checkAll)").length;

                $("#checkAll").prop("checked", total == checked);
            });

            // 기본적으로 1페이지 불러옴
            let param = {"pageNum": 1, "amount": amount};
            getPage(param);
        });

        // 검색버튼 클릭 시
        $(document).on("click", '#searchBtn', function () {
            let param = {
                "pageNum": 1, "amount": amount
            };

            // 주문 키워드 검색
            let type = $("#type option:selected").val();
            let keyword = $("#keyword").val();
            if (keyword != "") {
                param.type = type;
                param.keyword = keyword;
            }
            // 주문 키워드 검색
            let grade = $(":input:radio[name=grade]:checked").val();
            if (grade != -1) {
                param.selected = grade;
            }

            getPage(param);
        });

        // 서버에 데이터를 요청해 받아와 페이지를 만드는 함수
        function getPage(param) {
            $.ajax({
                url: "[(@{/member/searchVIP})]",
                method: "post",
                data: JSON.stringify(param),
                dataType: 'json',
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    let list = data.list;
                    let page = data.page;

                    $(".tbody").empty();
                    $.each(list, function (idx, val) {
                        addRow(param, idx, val);
                    });

                    addPagination(param.pageNum, page);

                },
                error: function (request, status, error) {
                    alert(request + ", " + status + ", " + error);
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrf_header, csrf_token);
                }
            });
        }

        // 테이블에 동적으로 row 추가하는 함수
        function addRow(param, idx, data) {
            let tbody = $(".tbody");
            let row = "<tr>";
            row += "<td class=\"text-center\"><input class=\"form-check-input\" type=\"checkbox\"></td>";
            let index = (param.pageNum - 1) * (param.amount) + idx + 1;
            row += "<th class=\"text-center\" scope=\"row\">" + index + "</th>";
            row += "<td class=\"text-center\" href=\"#\">" + data.name + "</td>";
            row += "<td class=\"text-center\" href=\"#\" onClick=\"showPopup(this)\" data-id=\"" + data.email + "\">" + data.email + "</td>";
            if (data.tel == null) {
                row += "<td class=\"text-center\">/</td>";
            } else {
                row += "<td class=\"text-center\">" + data.tel + "</td>";
            }
            if (data.gender == 0) {
                row += "<td class=\"text-center\">/</td>";
            } else if (data.gender == 1) {
                row += "<td class=\"text-center\">남</td>";
            } else if (data.gender == 2) {
                row += "<td class=\"text-center\">여</td>";
            }
            if (data.birth == null) {
                row += "<td class=\"text-center\">/</td>";
            } else {
                row += "<td class=\"text-center\">" + data.birth.toString().substring(0, 10) + "</td>";
            }

            switch (data.gradeId) {
                case 4:
                    row += "<td class=\"text-center\">Star</td>";
                    break;
                case 5:
                    row += "<td class=\"text-center\">The Star</td>";
                    break;
            }
            row += "<td class=\"text-center\">" + data.signUpDate.toString().substring(0, 10) + "</td>";
            if (data.recentLoginDate == null) {
                row += "<td className=\"text-center\"></td>";
            } else {
                row += "<td class=\"text-center\">" + data.recentLoginDate.toString().substring(0, 10) + "</td>";
            }
            row += "<td className=\"text-center\"><button class=\"btn btn-outline-primary\" id=\"AnalyzeBtn\" type=\"button\">분석</button></td>";
            row += "<td className=\"text-center\"></td>";

            tbody.append(row);
        }

        // 페이지 버튼 동적으로 추가하는 함수
        function addPagination(pageNum, page) {
            let pagination = $(".pagination");
            pagination.empty();

            let row = "";
            if (page.prev) {
                row += "<li class=\"page-item\">\n" +
                    "                <a class=\"page-link\" href=\"#\" onClick=\"paging(" + (page.startPage - 1) + ")\">이전</a>\n" +
                    "            </li>";
            }
            for (var i = page.startPage; i <= page.endPage; i++) {
                if (i == pageNum) {
                    row += "<li class=\"page-item\"><a class=\"page-link on\" href=\"#\" onClick=\"paging(" + i + ")\">" + i + "</a></li>";
                } else {
                    row += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\" onClick=\"paging(" + i + ")\">" + i + "</a></li>";
                }

            }
            if (page.next) {
                row += "<li class=\"page-item\">\n" +
                    "                <a class=\"page-link\" href=\"#\" onClick=\"paging(" + (page.endPage + 1) + ")\">다음</a>\n" +
                    "            </li>";
            }

            pagination.append(row);

        }

        // 페이지를 눌렀을 때
        function paging(page) {
            let pageNum = parseInt(page);

            let param = {
                "pageNum": pageNum, "amount": amount
            };

            // 주문 키워드 검색
            let type = $("#type option:selected").val();
            let keyword = $("#keyword").val();
            if (keyword != "") {
                param.type = type;
                param.keyword = keyword;
            }
            // 주문 키워드 검색
            let grade = $(":input:radio[name=grade]:checked").val();
            if (grade != -1) {
                param.selected = grade;
            }

            getPage(param);
        }

        // 주소, 팝업창 이름, 창크기(w, h, left, top)
        function showPopup(target) {
            const _ID = target.getAttribute("data-id");
            // $("#popupData :input[name=id]").val(_ID);


            let url = `[(@{/biz/vip/${_ID}/detail})]`;
            const POPUP_NAME = "VIP Detail"
            let windowOption = "width=1280, height=720, left=100, top=50, resizable=no"

            window.open(url, POPUP_NAME, windowOption);
        }

        function createInput(name, value, type) {
            let inputTAG = document.createElement("input");
            inputTAG.name = name;
            inputTAG.id = name;
            inputTAG.value = value;
            inputTAG.type = type;

            return inputTAG;
        }

    </script>
</th:block>
<th:block layout:fragment="content">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <div class="card-body">
                        <form class="row">
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label" for="keyword">검색어</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="type">
                                        <option th:value="id">아이디</option>
                                        <option th:value="name">이름</option>
                                        <option th:value="tel">연락처</option>
                                    </select>
                                </div>
                                <div class="col-8">
                                    <input autofocus class="form-control" id="keyword" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label>구분</label>
                                </div>
                                <div class="col-10">
                                    <div class="form-check form-check-inline">
                                        <input checked class="form-check-input" id="all" name="grade" type="radio"
                                               value="-1">
                                        <label class="form-check-label" for="all">전체</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="vip_the_star" name="grade"
                                               type="radio" value="5">
                                        <label class="form-check-label" for="vip_the_star">THE STAR</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="vip_star" name="grade"
                                               type="radio" value="4">
                                        <label class="form-check-label" for="vip_star">STAR</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-outline-primary" type="reset">초기화</button>
                                    <button class="btn btn-primary" id="searchBtn" type="button">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">VIP 목록</h5>
                        <form id="popupData">
                            <input name="id" type="hidden">
                        </form>
                        <table class="table table-hover table-bordered">
                            <thead class="table-light">
                            <tr>
                                <th class="text-center" scope="col" style="width:5%">
                                    <input class="form-check-input" id="checkAll" type="checkbox">
                                </th>
                                <th class="text-center" scope="col" style="width:5%">#</th>
                                <th class="text-center" scope="col" style="width:10%">이름</th>
                                <th class="text-center" scope="col" style="width:14%">아이디</th>
                                <th class="text-center" scope="col" style="width:10%">연락처</th>
                                <th class="text-center" scope="col" style="width:5%">성별</th>
                                <th class="text-center" scope="col" style="width:10%">생년월일</th>
                                <th class="text-center" scope="col" style="width:7%">등급</th>
                                <th class="text-center" scope="col" style="width:10%">가입일</th>
                                <th class="text-center" scope="col" style="width:10%">최근 로그인</th>
                                <th class="text-center" scope="col" style="width:10%">탈퇴분석</th>
                                <th class="text-center" scope="col" style="width:5%">비고</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">

                            </tbody>
                        </table>
                        <!-- TODO pagination 페이징 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>