<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/logo}">
<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function searchAddress() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 도로명 주소 변수
                    let extraAddr = ''; // 참고 항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // if(data.userSelectedType === 'R'){
                    //     // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    //     // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    //     if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    //         extraAddr += data.bname;
                    //     }
                    //     // 건물명이 있고, 공동주택일 경우 추가한다.
                    //     if(data.buildingName !== '' && data.apartment === 'Y'){
                    //         extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    //     }
                    //     // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    //     if(extraAddr !== ''){
                    //         extraAddr = ' (' + extraAddr + ')';
                    //     }
                    //     // 조합된 참고항목을 해당 필드에 넣는다.
                    //     document.getElementById("sample6_extraAddress").value = extraAddr;
                    //
                    // } else {
                    //     document.getElementById("sample6_extraAddress").value = '';
                    // }


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipcode').value = data.zonecode; //
                    document.getElementById("address1").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("address2").focus();
                }
            }).open();
        }
    </script>
</head>
<th:block layout:fragment="bodyWrap">
    <div id="bodyWrap">
        <h3 class="cnts_title">
            <span id="men\uTitle"></span>
        </h3>
        <div class="sub_container">
            <!-- lnb -->
            <th:block th:replace="~{/fragment/lnb :: lnb}"></th:block>
            <!-- //lnb -->


            <div class="sub_cnts">
                <div class="gnb_sh_wrap" style="display:none;">
                    <!-- validation check message global -->
                    <input type="hidden" id="validationCheckPwd" value="비밀번호를 재입력 하셔야 합니다.">
                    <input type="hidden" id="validationCheck" value="필수데이터가 입력되지 않았습니다.">
                    <input type="hidden" id="validationCheckMsg" value="다음 사항을 확인해 주세요.">
                    <input type="hidden" id="validationCheckMsg1" value="필수데이터가 입력되지 않았습니다.">
                    <input type="hidden" id="validationCheckMsg2" value="동일문자를 3번 이상 사용할 수 없습니다.">
                    <input type="hidden" id="validationCheckMsg3"
                           value="연속된 문자열(123 또는 321, abc, cba 등) 3자리이상 올 수 없습니다.">
                    <input type="hidden" id="validationCheckMsg4" value="Caps Lock 이 켜져 있습니다.">
                    <input type="hidden" id="validationCheckMsg5" value="이메일 아이디의 중복 확인이 필요합니다.">
                    <input type="hidden" id="validationCheckMsg6" value="이메일의 중복확인이 필요합니다.">
                    <input type="hidden" id="deliveryOkMsg" value="확인">
                    <input type="hidden" id="deliveryCancelMsg" value="취소">
                </div>

                <script>

                    $(document).ready(function () {
                        if ("ko" == "ko") {
                            let pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
                        } else {
                            let pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-]{0,15})(?=.*[0-9]).{8,15}$/;
                        }

                        let hPointConnectYn;
                        let url = window.location.href;
                        if (url.indexOf("www.thehandsome.com") > -1) {
                            hPointConnectYn = "Y";
                        } else {
                            hPointConnectYn = "Y";
                        }


                        $("#menuTitle").text("개인정보 변경 / 탈퇴"); //개인정보 변경

                        //간편
                        emailTypeDomainSelectController("#emailDomain", "#emailDomainSel");
                        $("#emailDomainSel").val("naver.com");
                        if ($("#emailDomainSel option").index($("#emailDomainSel option:selected")) != -1) $("#emailDomainSel").change();
                        else $("#emailDomainSel option:eq(0)").attr("selected", "selected");

                        let nowYear = parseInt('2008');
                        let nowMonth = parseInt('06');
                        let nowDay = parseInt('21');
                        let monthArray = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                        //if(nowYear < 2000) nowYear += 1900;

                        //년도
                        for (let i = nowYear; i >= 1900; i--) {
                            $('#selYear').append("<option value='" + i + "'>" + i + "</option>");
                        }

                        // $("#selDay").val("**");
                        // $("#selMonth").val("11");
                        // $("#selYear").val("1996");

                        $("#selYear").change(function () {

                            let selYear1 = $('#selYear').val();
                            if ($('#selMonth').val() == 02) {

                                if ($("#selDay option:last").val() >= 29) {

                                    $("#selDay option[value='29']").remove();
                                    $("#selDay option[value='30']").remove();
                                    $("#selDay option[value='31']").remove();
                                }

                                if ((selYear1 % 4 == 0 && selYear1 % 100 != 0) || selYear1 % 400 == 0) {

                                    $("#selDay").append("<option value='29'>29</option>");
                                }
                            }
                            //만14세미만 가입X
                            if (nowYear == selYear1) {
                                for (let i = nowMonth + 1; i <= 12; i++) {
                                    if (i < 10) {
                                        $("#selMonth option[value='0" + i + "']").remove();
                                    } else {
                                        $("#selMonth option[value='" + i + "']").remove();
                                    }
                                    if ($("#selMonth").val() > nowMonth) $("#selMonth").val('').prop("selected", true);
                                }

                                if (nowMonth == parseInt($('#selMonth').val())) {

                                    let n_selMonth = parseInt($('#selMonth').val());
                                    let maxDay = monthArray[n_selMonth];

                                    for (let i = nowDay + 1; i <= maxDay; i++) {
                                        if (i < 10) {
                                            $("#selDay option[value='0" + i + "']").remove();
                                        } else {
                                            $("#selDay option[value='" + i + "']").remove();
                                        }
                                        if ($("#selDay").val() > nowDay) {
                                            $("#selDay").val('').prop("selected", true);
                                        }
                                    }
                                }
                            } else {
                                let n_selMonth = parseInt($('#selMonth').val());
                                let maxDay = monthArray[n_selMonth];

                                if ($("#selMonth option:last").val() < 12) {
                                    for (let i = nowMonth + 1; i <= 12; i++) {
                                        if (i < 10) {
                                            $("#selMonth").append("<option value='0" + i + "'>0" + i + "</option>");
                                        } else {
                                            $("#selMonth").append("<option value='" + i + "'>" + i + "</option>");
                                        }
                                    }
                                }
                                if ($("#selDay option:last").val() < maxDay) {
                                    console.log($('#selMonth').val())
                                    if ($('#selMonth').val() ==  02) {
                                        if ((selYear1 % 4 == 0 && selYear1 % 100 != 0) || selYear1 % 400 == 0) {
                                            maxDay = 29;
                                        }
                                    }

                                    for (let i = parseInt($("#selDay option:last").val()) + 1; i <= maxDay; i++) {
                                        if (i < 10) {
                                            $("#selDay").append("<option value='0" + i + "'>0" + i + "</option>");
                                        } else {
                                            $("#selDay").append("<option value='" + i + "'>" + i + "</option>");
                                        }
                                    }
                                }

                            }
                        });

                        $("#selMonth").change(function () {
                            let lastDay = $("#selDay option:last").val();
                            let selYear1 = $('#selYear').val();
                            let n_selMonth = parseInt($('#selMonth').val());
                            let maxDay = monthArray[n_selMonth];

                            if ($(this).val() == 02) {
                                $("#selDay option[value='31']").remove();
                                $("#selDay option[value='30']").remove();
                                $("#selDay option[value='29']").remove();

                                if ((selYear1 % 4 == 0 && selYear1 % 100 != 0) || selYear1 % 400 == 0) {
                                    $("#selDay").append("<option value='29'>29</option>");
                                }
                            } else if ($(this).val() == 04 || $(this).val() == 06 || $(this).val() == 09 || $(this).val() == 11
                        )
                            {
                                if (lastDay == 28) {
                                    $("#selDay").append("<option value='29'>29</option>");
                                    $("#selDay").append("<option value='30'>30</option>");
                                } else if (lastDay == 29) {
                                    $("#selDay").append("<option value='30'>30</option>");
                                } else if (lastDay == 31) {
                                    $("#selDay option[value='31']").remove();
                                }
                            }

                        else
                            {
                                if (lastDay == 28) {
                                    $("#selDay").append("<option value='29'>29</option>");
                                    $("#selDay").append("<option value='30'>30</option>");
                                    $("#selDay").append("<option value='31'>31</option>");
                                } else if (lastDay == 29) {
                                    $("#selDay").append("<option value='30'>30</option>");
                                    $("#selDay").append("<option value='31'>31</option>");
                                } else if (lastDay == 30) {
                                    $("#selDay").append("<option value='31'>31</option>");
                                }
                            }

                            //만14세미만 가입X
                            if (nowYear == selYear1 && nowMonth == $('#selMonth').val()) {
                                for (let i = nowDay + 1; i <= $("#selDay option:last").val(); i++) {
                                    if (i < 10) {
                                        $("#selDay option[value='0" + i + "']").remove();
                                    } else {
                                        $("#selDay option[value='" + i + "']").remove();
                                    }
                                    if ($("#selDay option:last").val() < $("#selDay").val()) $("#selDay").val('').prop("selected", true);
                                }
                            } else {
                                if ($("#selDay option:last").val() < maxDay) {
                                    for (let i = parseInt($("#selDay option:last").val()) + 1; i <= maxDay; i++) {
                                        if (i < 10) {
                                            $("#selDay").append("<option value='0" + i + "'>0" + i + "</option>");
                                        } else {
                                            $("#selDay").append("<option value='" + i + "'>" + i + "</option>");
                                        }
                                    }
                                }
                            }
                        });

                        // $("#selDay").change(function () {
                        //     if ($("#selDay option:eq(0)").val() == "default") {
                        //         $("#selDay option:eq(0)").remove();
                        //     }
                        // });

                        $("#selYear").trigger('change');
                        $("#selMonth").trigger('change');




                        //이메일 중복 확인
                        $('#emailDubChkBtn').click(function () {

                            let vc = new ValidationCheck();
                            vc.checkIdList = ['email'];
                            vc.msgFn = function (msg) {
                                $("#emailMsg").text(msg);
                            };
                            if (vc.isValid()) {
                                $.ajax({
                                    type: "GET",
                                    url: "/member/isDuplicate",
                                    data: JSON.stringify({
                                        email: $("#email").val()

                                    }),
                                    dataType: "json",
                                    contentType: "application/json",
                                    success: function (data) {
                                        if (data == "true") {
                                            $("#emailMsg").text('이미 사용중인 이메일입니다.');
                                        } else {
                                            $("#emailMsg").text('사용 가능한 이메일입니다.');
                                            $("#emailDuplChk").val('Y');

                                        }
                                    },
                                    error: function (e) {
                                        console.log(e);
                                    }
                                });
                            }

                        });




                        $("#cancleBtn").click(function () {
                            let lc = new layerConfirm('개인정보 변경을 취소하시겠습니까?', '확인', '취소');
                            lc.confirmAction = function () {
                                location.href = "/ko/mypage/order/myorders";
                            };
                        });

                        if (hPointConnectYn == "N") {
                            console.log("hpoint n");
                            $("#saveBtn").click(function () {
                                let la = new layerAlert("통합멤버십 작업으로 인해 일시적으로 사용이 제한 됩니다.불편을 드려 죄송합니다.");
                                return false;
                            });

                            $("#memberSecessionBtn").click(function () {
                                let la = new layerAlert("통합멤버십 작업으로 인해 일시적으로 사용이 제한 됩니다.불편을 드려 죄송합니다.");
                                return false;
                            });
                        } else {
                            $("#saveBtn").click(function () {
                                $("#sBirthday").val($("#selYear").val() + $("#selMonth").val() + $("#selDay").val());
                                $("#emailAddress").val($("#email").val() + "@" + $("#emailDomain").val());

                                let vc = new ValidationCheck();
                                vc.checkIdList = ['password'];



                                if ($("#emailAddress").val().length > 50) {
                                    layerAlert("E-mail은 최대 50자입니다.");
                                    return;
                                }
                                let year = $("#selYear").val();
                                let month = $("#selMonth").val();
                                let day = $("#selDay").val();
                                console.log("vc.isValid() : " + vc.isValid());
                                if (vc.isValid()==true ) {
                                    let gender_check;
                                    if ($("#gender option:selected").text() === "남") {
                                        gender_check = 1;
                                    } else if ($("#gender option:selected").text() === "여") {
                                        gender_check = 2;
                                    }
                                    $.ajax({
                                        type: "POST",
                                        url: "/mypage/update",
                                        datatype: "json",
                                        contentType: "application/json",
                                        data: JSON.stringify({
                                            email: $("#email").val(),
                                            password: $("#password").val(),
                                            name: $("#name").val(),
                                            tel: $("#tel").val(),
                                            gender: gender_check,
                                            address1: $("#address1").val(),
                                            address2: $("#address2").val(),
                                            zipcode: $("#zipcode").val(),
                                            birth1: $("#selYear").val(),
                                            birth2: $("#selMonth").val(),
                                            birth3: $("#selDay").val(),
                                            height: $("#height").val(),
                                            weight: $("#weight").val()

                                        }),
                                        error: function (request, status, error) {
                                            layerAlert("예상치 못한 오류가 발생하였습니다.</br>" + "다시 시도해 주시기 바랍니다5.");
                                            console.log("code:" + request.status + "\n\n\n\n" + "message:" + request.responseText + "\n\n\n\n" + "error:" + error);
                                        },
                                        beforeSend: function (xhr) {

                                            xhr.setRequestHeader(csrf_header, csrf_token);

                                        },
                                        success: function (result) {
                                            if (result) {
                                                let lc = new layerAlert("입력하신 정보가 변경완료 되었습니다.");

                                                lc.confirmAction = function () {
                                                    location.href = "/mypage";
                                                };
                                            } else {
                                                layerAlert("예상치 못한 오류가 발생하였습니다.</br>" + "다시 시도해 주시기 바랍니다6.");
                                            }
                                        }
                                    });
                                }
                            });

                            $("#memberSecessionBtn").click(function () { //회원탈퇴
                                console.log($("#email").val());
                                $.ajax({
                                    type: "POST",
                                    url: "/member/delete",
                                    dataType: "json",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        email: $("#email").val()
                                    }),
                                    success: function () {

                                        console.log("탈퇴");
                                        let lc = new layerAlert("이용해주셔서 감사합니다.");

                                        lc.confirmAction = function () {
                                            location.href = "/";
                                        };

                                    },
                                    error: function (xhr, Status, error) {
                                    }
                                })
                            })

                        }//else

                        $("#email,#emailDomain").keypress(function (event) {
                            if (event.which == 32) {
                                return false;
                            }

                        });


                        /*
                         *	비밀번호 변경 Layer Popup관련 Script
                        */
                        let $t = null;

                        $('#PwCheck1').click(function () {
                            let vc = new ValidationCheck();
                            vc.checkIdList = ['password'];
                            vc.msgFn = function (msg) {
                                $("#emailMsg").text(msg);
                            };
                            if (vc.isValid()) {
                                $.ajax({
                                    type: "GET",
                                    url: "/member/isDuplicate2",
                                    data: JSON.stringify({
                                        password: $("#password").val(),
                                    }),
                                    dataType: "json",
                                    contentType: "application/json",
                                    success: function (data) {
                                        if (data == "true") {
                                            $("#emailMsg").text('기존 비밀번호입니다.');
                                        } else {
                                            $("#emailMsg").text('사용 가능한 비밀번호입니다.');
                                            $("#emailDuplChk").val('Y');

                                        }
                                    },
                                    error: function (e) {
                                        console.log(e);
                                    }
                                });
                            }
                        });



                    });

                    //회원변경시에만 사용되는 블라인드 영역을 클릭해도 팝업이 안닫히도록 수정
                    let layerChangPopup = function (layerId) {

                        let PARAMS = {};
                        PARAMS.layerId = layerId;
                        PARAMS.layer = $("#" + PARAMS.layerId);


                        this.openNewLayer = function () {

                            let tp = getMarginTop(PARAMS.layer.height());
                            if (tp < 0) tp = 0;

                            PARAMS.layer.css("top", tp).css("position", "absolute").css("z-index", 101);

                            let layerTag = '<div class="layerArea">';
                            layerTag += '<div class="layerBg"></div> ';
                            layerTag += '</div>';

                            let thisLayer = $(layerTag).appendTo($('body')).append(PARAMS.layer.clone().show());
                            let existedStyle = $('body').attr('style') || '';
                            if (existedStyle) {
                                existedStyle += ';';
                            }
                            $('body').attr('style', existedStyle + 'overflow:hidden !important');


                            thisLayer.find('.btn_close, .okBtn').click(function () {
                                //$('body').css('overflow', '');
                                $('body').attr('style', existedStyle);
                                thisLayer.remove();
                                return false;
                            });

                            return thisLayer;
                        };

                        return this.openNewLayer();
                    };

                    function pwCheck1() {
                        $.ajax({

                            type: "GET",
                            url: "/member/isDuplicate2?email=" + $("#email").val() + "&password=" + $("#password").val(),
                            success: function (data) {
                                if (data == "true") {
                                    $("#emailMsg").text('이미 사용중인 비밀번호입니다.');
                                } else {
                                    $("#emailMsg").text('사용 가능한 비밀번호입니다.');
                                    $("#emailDuplChk").val('Y');
                                }
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }

                    /*
                     * [2017.01.06 - 이현승] 연속문자열 검사
                     */
                    function newPasswordConcateCheck(inputdata) {

                        let returnVal = 0;

                        let SamePass_0 = 0; // 동일문자 카운트
                        let SamePass_1 = 0; // 연속성(+) 카운드
                        let SamePass_2 = 0; // 연속성(-) 카운드

                        for (let i = 0; i < inputdata.length; i++) {	 // 4자리
                            let chr_pass_0 = inputdata.charCodeAt(i - 2);//3);
                            let chr_pass_1 = inputdata.charCodeAt(i - 1);//2);
                            let chr_pass_2 = inputdata.charCodeAt(i);// - 1);

                            if (i > 1) {
                                // 동일문자 카운트
                                if ((chr_pass_0 == chr_pass_1) && (chr_pass_1 == chr_pass_2)) {
                                    SamePass_0++;
                                } else {
                                    SamePass_0 = 0;
                                }

                                // 연속성(+) 카운드
                                if (chr_pass_0 - chr_pass_1 == 1 && chr_pass_1 - chr_pass_2 == 1) {
                                    SamePass_1++;
                                } else {
                                    SamePass_1 = 0;
                                }

                                // 연속성(-) 카운드
                                if (chr_pass_0 - chr_pass_1 == -1 && chr_pass_1 - chr_pass_2 == -1) {
                                    SamePass_2++;
                                } else {
                                    SamePass_2 = 0;
                                }
                            }

                            if (SamePass_0 > 0) {
                                // 다국어 : 동일문자를 3번 이상 사용할 수 없습니다.
                                returnVal = -1;
                            } else if (SamePass_1 > 0 || SamePass_2 > 0) {
                                // 다국어 : 연속된 문자열(123 또는 321, abc, cba 등)을 3자리이상 올 수 없습니다.
                                returnVal = -2;
                            }
                        }
                        return returnVal;
                    }


                </script>



                <form id="updateProfileForm" action="/mypage/update" method="post"><input type="hidden" name="prk"
                                                                                          id="prk"
                                                                                          value="8929460453380">
                    <input type="hidden" name="emailDuplChk" id="emailDuplChk" value="Y" title="이메일 중복">
                    <input type="hidden" id="emailAddress" name="emailAddress" value="">
                    <input type="hidden" id="sBirthday" name="sBirthday" value="">
                    <!-- //lnbWrap -->
                    <div>
                        <div class="title_wrap mt30">
                            <h4 class="float_left">개인정보 변경</h4>
                            <p class="txt_line">회원정보를 확인하고, 변경할 수 있습니다. </p>
                            <p class="reqd_txt"><strong class="reqd">*</strong> 표시는 필수항목입니다.</p>
                        </div>

                        <fieldset>
                            <legend>회원정보입력</legend>
                            <div class="tblwrap">
                                <table class="tbl_wtype1">
                                    <caption>회원가입 입력항목</caption>
                                    <colgroup>
                                        <col style="width:140px">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row" class="th_space"><strong class="reqd">*</strong><label
                                                for="email">아이디</label></th>
                                        <td>
                                            <input type="text" style="width:120px" id="email" name="email"
                                                   th:value="${#authentication.name}" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="th_space"><strong class="reqd">*</strong><label
                                                for="password">비밀번호</label>
                                        </th>
                                        <td>
                                            <input type="password" id="password" name="password" style="width:150px"
                                                   title="비밀번호"/>
<!--                                            <input type="button" class="btn add_s" id="pwChangeBtn" value="비밀번호체크"-->
<!--                                                   onclick="pwCheck1()">-->

                                            <span class="guide_comment" id="emailMsg"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="th_space"><strong class="reqd">*</strong> <label
                                                for="name">이름</label></th>
                                        <td><input type="text" style="width:120px" id="name" name="name"
                                                   th:value="${#authentication.principal.name}" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="th_space">생년월일</th>
                                        <td>
                                            <select style="width:120px" id="selYear" title="년도">
                                                <option th:value="${null}" >선택</option>
                                                <option th:each="year:${#numbers.sequence(2008, 1900, -1)}"
                                                        th:value="${year}"
                                                        th:text="${year}" th:selected="${selYear}==${year}"></option>
                                            </select>
                                            <select style="width:120px" id="selMonth" title="월">
                                                <option th:value="${null}" selected>선택</option>
                                                <option th:each="month:${#numbers.sequence(1,12,1)}" th:value="${month}"
                                                        th:text="${month}" th:selected="${selMonth}==${month}"></option>
                                            </select>
                                            <select style="width:120px" id="selDay" title="일">
                                                <option th:value="${null}" >선택</option>
                                                <option th:each="day:${#numbers.sequence(1,30,1)}" th:value="${day}"
                                                        th:text="${day}" th:selected="${selDay}==${day}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="gender">성별</label></th>
                                        <td>
                                            <select id="gender" title="성별">
                                                <option value="선택" selected>선택</option>
                                                <option value="">남</option>
                                                <option value="">여</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="tel">연락처(-빼고 입력)</label></th>
                                        <td>
                                            <input type="text" th:value="${tel}" style="width:120px" id="tel"
                                                   name="tel"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="address">주소</label></th>
                                        <td class="address" id="address">
                                            <input type="text" th:value="${zipcode}" id="zipcode" disabled>
                                            <input type="button" class="btn add_s" onclick="searchAddress()"
                                                   value="우편번호찾기"><br>
                                            <input type="text" id="address1" th:value="${address1}" name="address1"
                                                   size="60" disabled><br>
                                            <input type="text" id="address2" th:value="${address2}" name="address2"
                                                   size="60">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row"><label for="height">키(cm)</label></th>
                                        <td>
                                            <input type="text" style="width:120px" th:value="${height}" id="height"
                                                   name="height"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="weight">체중(kg)</label></th>
                                        <td>
                                            <input type="text" style="width:120px" th:value="${weight}" id="weight"
                                                   name="weight"/>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <!-- btn_btwrap -->
                        <div class="btn_btwrap">
                            <input type="button" class="btn wt_ss" value="회원탈퇴" id="memberSecessionBtn">
                        </div>
                        <div class="btnwrap mypage2">
                            <input type="button" class="btn wt" value="취소" id="cancleBtn">
                            <input type="button" class="btn gray" value="변경사항 저장" id="saveBtn">
                        </div>
                        <!-- //btn_btwrap -->
                    </div>
                </form><!-- 다국어 한국 이외의 언어에서 사용 -->
            </div>

        </div>
    </div>
</th:block>
</html>