<!-- 마이페이지 1:1 문의글 목록 조회 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/logo}">
<head>
    <title>더한섬닷컴</title>
</head>
<th:block layout:fragment="bodyWrap">
    <div id="bodyWrap">
        <h3 class="cnts_title">
            <span id="menuTitle">1:1 문의</span>
        </h3>
        <div class="sub_container">
            <!-- lnb -->
            <th:block th:replace="~{/fragment/lnb :: lnb}"></th:block>
            <!-- //lnb -->
            <!-- cnts -->
            <div class="sub_cnts">
                <script th:inline="javascript">
                    $(document).ready(function () {
                        // 해당 사용자의 모든 문의 목록을 조회하는 REST API 호출
                        $.ajax({
                            type: "GET",
                            url: "/mypage/review/all",
                            contentType: "application/json; charset=utf-8",
                            success: function (results) {
                                setReviews(results);
                            },
                            error: function (request, status, error) {
                            }
                        });
                    });

                    // 데이터를 tbody에 동적 삽입
                    function setReviews(results) {
                        // tbody
                        var listBody = $("#listBody");

                        var rows = "";
                        if (results.length < 1) { // 사용자의 문의 목록이 없을 경우
                            var listTag = "";
                            listTag += "<tr>";
                            listTag += "<td colspan='4' class='no_data'>";
                            listTag += '등록된 게시글이 없습니다.';
                            listTag += "</td>";
                            listTag += "</tr>";
                            rows += listTag;
                        } else { // 사용자의 문의 목록이 있을 경우
                            $.each(results, function () {
                                var listTag = "";

                                // 게시글 제목
                                listTag += "<tr onClick='showAnswer(" + this.id + ")'>";
                                var date = this.editDate.toString().substring(0, 10);
                                listTag += "<td>" + date + "</td>";
                                listTag += "<td>" + this.category + "</td>";
                                listTag += "<td>" + this.title + "</td>";
                                if (this.status == 0) { // status가 0이면 답변대기
                                    listTag += "<td>";
                                    listTag += '[답변대기]';
                                    listTag += "</td>";
                                } else { // status가 1이면 답변완료
                                    listTag += "<td>";
                                    listTag += '[답변완료]';
                                    listTag += "</td>";
                                }
                                listTag += "</tr>";

                                // 게시글 눌렀을 때 나오는 부분
                                listTag += "<tr class='reviewInfo' style='display:none' id='hideme" + this.id + "'>";
                                listTag += "Q&A";
                                listTag += "<td class='qna_wrap' colspan='4'>";
                                listTag += "<div class='qna_box ch'>";
                                listTag += '<p></p>';
                                listTag += "<div class='qt'>";
                                listTag += "<span class='ico'>quest</span>";
                                listTag += "<div class='txt'>";

                                var contents =  this.content;
                                var contents1 = contents.replace(/&amp;/g,'&');
                                contents1 = contents1.replace(/&lt;/g,'&lt');
                                contents1 = contents1.replace(/&gt;/g,'&gt');
                                //XSS필터로 인한 특수문자 치환
                                contents1 = contents1.replace(/&#40;/gim,'(');
                                contents1 = contents1.replace(/&#41;/gim,')');
                                contents1 = contents1.replace(/&#39;/gim,'\'');
                                contents1 = contents1.replace(/<script>/gim,'');
                                contents1 = contents1.replace(/<\/script>/gim,'');
                                listTag += "<p style='word-wrap:break-word'>" + contents1 + "</p>";
                                listTag += "</div>";
                                listTag += "</div>";
                                listTag += "<div class='an'>";
                                listTag += "<span class='ico'>answer</span>";
                                listTag += "<div class='txt' id='replyContent" + this.id + "'>";
                                if(this.status == 1) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/mypage/review/reply/" + this.id,
                                        contentType: "application/json; charset=utf-8",
                                        success: function (results) {
                                            var content = results.content;
                                            var divName1 = "#replyContent" + results.originId;
                                            // BO하면서 개행 다시 처리
                                            var replacement = content.replace(/(<br\/>)/g, '\r\n');;
                                            $(divName1).text(replacement);
                                        },
                                        error: function (request, status, error) {
                                        }
                                    });
                                }
                                listTag += "</div>";
                                listTag += "</div>";
                                listTag += "</div>";
                                listTag += "</div>";
                                listTag += "</td>";
                                listTag += "</tr>";

                                rows += listTag;
                            });

                        }
                        // tbody에 동적으로 html 삽입
                        listBody.append(rows);
                    }

                    function showAnswer(id) {
                        $('#listBody').each(function () {
                            $('#listBody').find(".reviewInfo").not('#hideme' + id).css("display", "none");
                        });

                        $('#hideme' + id).slideToggle();
                        return;
                    }

                    function closeAnswer(id) {
                        $('#hideme' + id).hide();
                        return false;
                    }

                </script>

                <div class="title_wrap mt30 ml20">
                    <h4 class="float_left">나의 1:1 문의</h4>
                    <p class="txt_line">고객님의 문의를 등록하시면 빠른 시일 내 답변 드리겠습니다.</p>
                    <div class="btn_wrap">
                        <a href="/mypage/reviewInsert" class="btn add_ss mr0">문의하기</a>
                    </div>
                </div>
                <!-- Table -->
                <div class="tblwrap ml20">
                    <table class="tbl_ltype">
                        <caption>&gt;나의 1:1 문의 목록</caption>
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:140px">
                            <col>
                            <col style="width:100px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">등록일</th>
                            <th scope="col">상담유형</th>
                            <th scope="col">내용</th>
                            <th scope="col">처리상태</th>
                        </tr>
                        </thead>
                        <tbody id="listBody">

                        </tbody>
                    </table>
                </div>
                <!-- //Table -->
            </div>
            <!-- //cnts -->
        </div>
    </div>
</th:block>
</html>
