<!-- 마이페이지 1:1 문의글 목록 조회 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>더한섬닷컴</title>

    <link rel="shortcut icon" th:href="@{/images/thehandsome_ic_16x16.ico}">

    <link rel="stylesheet" th:href="@{/css/brand.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/contents.css}"/>
    <link rel="stylesheet" th:href="@{/css/font_443.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/brand.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/contents.css}"/>
    <link rel="stylesheet" th:href="@{/css/print.css}"/>

    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.vticker.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv-printshiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
    <script type="text/javascript" th:src="@{/js/ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form-3.51.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_function.js}"></script>
    <script type="text/javascript" th:src="@{/js/videojs-ie8.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/instagramAPI.js}"></script>
    <script type="text/javascript" th:src="@{/js/makePCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel_skin.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/unorm.js}"></script>
    <script type="text/javascript" th:src="@{/js/appboy.min.js}"></script>

    <style>
        .qna_box .qt .ico {
            float: left;
            width: 32px;
            height: 32px;
            background: url("/images/common/ico_qna.png") 0 0 no-repeat;
            text-indent: -100px;
            overflow: hidden;
        }

        .qna_box .an .ico {
            float: left;
            width: 32px;
            height: 32px;
            background: url("/images/common/ico_qna.png") -70px 0 no-repeat;
            text-indent: -100px;
            overflow: hidden;
        }
    </style>
</head>
<body oncontextmenu="return false">

<!-- headerWrap -->
<th:block th:replace="~{/header_logo :: header_logo}"></th:block>
<!-- //headerWrap -->

<script>
    // jQuery 충돌 방지
    var arkQuery = $.noConflict(true);
</script>

<div id="bodyWrap">
    <h3 class="cnts_title">
        <span id="menuTitle">1:1 문의</span>
    </h3>
    <div class="sub_container">
        <!-- lnb -->
        <div class="lnb_wrap">
            <h4><a href="/mypage">마이페이지<!-- 마이페이지 --></a></h4>
            <div class="lnb">
                <dl>
                    <dt>주문조회</dt>
                    <dd><a href="/mypage/order/myorders"
                           onclick="GA_Event('마이페이지','LNB','주문/배송/반품/취소');">주문/배송/반품/취소</a></dd>
                </dl>
                <dl>
                    <dt>혜택관리</dt>
                    <dd><a href="/mypage/myGradeInfo" onclick="GA_Event('마이페이지','LNB','나의 회원 등급');">나의 회원 등급</a></dd>
                    <dd><a href="/mypage/voucher" onclick="GA_Event('마이페이지','LNB','나의 쿠폰');">나의 쿠폰<!-- 쿠폰함 --></a></dd>
                    <dd><a href="/mypage/mypoint" onclick="GA_Event('마이페이지','LNB','나의 한섬마일리지');">나의 한섬마일리지</a></dd>
                    <dd><a href="/mypage/myEGiftCard" onclick="GA_Event('마이페이지','LNB','E-GIFT CARD');">e-Gift Card</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 상품관리</dt>
                    <dd><a href="/mypage/myWish" onclick="GA_Event('마이페이지','LNB','위시리스트');">위시리스트<!-- 위시리스트 --></a></dd>
                    <dd><a href="/mypage/rsalarm" onclick="GA_Event('마이페이지','LNB','재입고 알림');">재입고 알림<!-- 재입고알림 --></a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 정보관리</dt>
                    <dd><a href="/mypage/personInfomationChangePWCheck" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보
                        변경/탈퇴</a></dd>
                    <dd><a href="/mypage/shoppingAddressPWCheck" onclick="GA_Event('마이페이지','LNB','배송지 관리');">배송지 관리</a>
                    </dd>
                    <dd><a href="/mypage/oneClick" onclick="GA_Event('마이페이지','LNB','원클릭 결제 관리');">원클릭 결제 관리</a></dd>
                    <dd><a href="/mypage/mergeCustomerInfo" onclick="GA_Event('마이페이지','LNB','한섬 멤버십 통합');">한섬 멤버십 통합</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 활동관리</dt>
                    <!-- <dd><a href="#">회원등급</a></dd> -->
                    <dd><a href="/mypage/myreview" onclick="GA_Event('마이페이지','LNB','내 상품평');">내 상품평</a></dd>
                    <dd><a href="/mypage/myqna" onclick="GA_Event('마이페이지','LNB','상품 Q&amp;A');">상품 Q&amp;A</a></dd>
                    <dd><a href="/mypage/review/list" onclick="GA_Event('마이페이지','LNB','1:1 문의');">1:1 문의</a></dd>
                    <!-- <dd><a href="#">이벤트 참여현황</a></dd> -->
                </dl>
            </div>
            <!-- ph_guide -->
            <div class="ph_guide">
                <p class="tlt">고객센터 운영 안내</p>
                <p class="phone">1800-5700<span style="color:#c69c6d;" class="txt">(유료)</span></p>
                <p class="txt">평일(월~금)<br>am 09:00 ~ pm 18:00<span>토/일, 공휴일 휴무</span></p>
                <a href="mailto:shophelp@thehandsome.com">shophelp<br>@thehandsome.com</a>
            </div>
            <!-- //ph_guide -->
        </div>
        <!-- //lnb -->
        <!-- cnts -->
        <div class="sub_cnts">
            <script th:inline="javascript">
                $(document).ready(function () {
                    // 해당 사용자의 모든 문의 목록을 조회하는 REST API 호출
                    $.ajax({
                        type: "GET",
                        url: "/mypage/review/all",
                        contentType: "application/json; charset=utf-8",
                        success: function (results) {
                            setReviews(results);
                        },
                        error: function (request, status, error) {
                            alert("Ajax 통신 에러 발생");
                        }
                    });
                });

                // 데이터를 tbody에 동적 삽입
                function setReviews(results) {
                    // tbody
                    var listBody = $("#listBody");

                    var rows = "";
                    if (results.length < 1) { // 사용자의 문의 목록이 없을 경우
                        var listTag = "";
                        listTag += "<tr>";
                        listTag += "<td colspan='4' class='no_data'>";
                        listTag += '등록된 게시글이 없습니다.';
                        listTag += "</td>";
                        listTag += "</tr>";
                        rows += listTag;
                    } else { // 사용자의 문의 목록이 있을 경우
                        $.each(results, function () {
                            var listTag = "";

                            // 게시글 제목
                            listTag += "<tr onClick='showAnswer(" + this.id + ")'>";
                            var date = this.editDate.toString().substring(0, 10);
                            listTag += "<td>" + date + "</td>";
                            listTag += "<td>" + this.category + "</td>";
                            listTag += "<td>" + this.title + "</td>";
                            if (this.status == 0) { // status가 0이면 답변대기
                                listTag += "<td>";
                                listTag += '[답변대기]';
                                listTag += "</td>";
                            } else { // status가 1이면 답변완료
                                listTag += "<td>";
                                listTag += '[답변완료]';
                                listTag += "</td>";
                            }
                            listTag += "</tr>";

                            // 게시글 눌렀을 때 나오는 부분
                            listTag += "<tr class='reviewInfo' style='display:none' id='hideme" + this.id + "'>";
                            listTag += "Q&A";
                            listTag += "<td class='qna_wrap' colspan='4'>";
                            listTag += "<div class='qna_box ch'>";
                            listTag += '<p></p>';
                            listTag += "<div class='qt'>";
                            listTag += "<span class='ico'>quest</span>";
                            listTag += "<div class='txt'>";

                            var contents =  this.content;
                            var contents1 = contents.replace(/&amp;/g,'&');
                            contents1 = contents1.replace(/&lt;/g,'&lt');
                            contents1 = contents1.replace(/&gt;/g,'&gt');
                            //XSS필터로 인한 특수문자 치환
                            contents1 = contents1.replace(/&#40;/gim,'(');
                            contents1 = contents1.replace(/&#41;/gim,')');
                            contents1 = contents1.replace(/&#39;/gim,'\'');
                            contents1 = contents1.replace(/<script>/gim,'');
                            contents1 = contents1.replace(/<\/script>/gim,'');
                            listTag += "<p style='word-wrap:break-word'>" + contents1 + "</p>";
                            listTag += "</div>";
                            listTag += "</div>";
                            listTag += "<div class='an'>";
                            listTag += "<span class='ico'>answer</span>";
                            listTag += "<div class='txt' id='replyContent" + this.id + "'>";
                            if(this.status == 1) {
                                $.ajax({
                                    type: "GET",
                                    url: "/mypage/review/reply/" + this.id,
                                    contentType: "application/json; charset=utf-8",
                                    success: function (results) {
                                        var content = results.content;
                                        var divName1 = "#replyContent" + results.originId;
                                        // BO하면서 개행 다시 처리
                                        var replacement = content.replace(/(<br\/>)/g, '\r\n');;
                                        $(divName1).text(replacement);
                                    },
                                    error: function (request, status, error) {
                                        alert("Ajax 통신 에러 발생");
                                    }
                                });
                            }
                            listTag += "</div>";
                            listTag += "</div>";
                            listTag += "</div>";
                            listTag += "</div>";
                            listTag += "</td>";
                            listTag += "</tr>";

                            rows += listTag;
                        });

                    }
                    // tbody에 동적으로 html 삽입
                    listBody.append(rows);
                }

                function showAnswer(id) {
                    $('#listBody').each(function () {
                        $('#listBody').find(".reviewInfo").not('#hideme' + id).css("display", "none");
                    });

                    $('#hideme' + id).slideToggle();
                    return;
                }

                function closeAnswer(id) {
                    $('#hideme' + id).hide();
                    return false;
                }

            </script>

            <div class="title_wrap mt30 ml20">
                <h4 class="float_left">나의 1:1 문의</h4>
                <p class="txt_line">고객님의 문의를 등록하시면 빠른 시일 내 답변 드리겠습니다.</p>
                <div class="btn_wrap">
                    <a href="/mypage/review/insert" class="btn add_ss mr0">문의하기</a>
                </div>
            </div>
            <!-- Table -->
            <div class="tblwrap ml20">
                <table class="tbl_ltype">
                    <caption>&gt;나의 1:1 문의 목록</caption>
                    <colgroup>
                        <col style="width:100px">
                        <col style="width:140px">
                        <col>
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">등록일</th>
                        <th scope="col">상담유형</th>
                        <th scope="col">내용</th>
                        <th scope="col">처리상태</th>
                    </tr>
                    </thead>
                    <tbody id="listBody">

                    </tbody>
                </table>
            </div>
            <!-- //Table -->
        </div>
        <!-- //cnts -->
    </div>
</div>

<!-- footerWrap -->
<th:block th:replace="~{/footer :: footer}"></th:block>

</body>
</html>