<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <!-- head -->
  <th:block th:replace="~{/head :: head}"></th:block>
  <!-- //head -->
</head>
<body oncontextmenu="return false">

<!--<th:block th:replace="~{/header_category :: header_category}"></th:block>-->

<script>
  // jQuery 충돌 방지
  var arkQuery = $.noConflict(true);
</script>


<div id="bodyWrap" class="item_detail">
<div class="popwrap w_type_4" id="customerReviewDiv" style="top: 1226.5px; position: absolute; z-index: 101;">
  <!--마일리지 안내영역 1906 -->
  <div class="mileage_info_wrap1906">
    <p class="wrap_heading">상품평 작성 시 추가 마일리지를 드려요!</p>
    <div class="mileage_info_box">
      <div class="review_w">
        <p class="review_w_tit">• 온라인 구매 상품평 작성 시</p>
        <ul>
          <li>
            <div class="ico_mileage1906">
              정상상품
            </div>
            <p><strong>정상상품</strong><br>구매금액의 <b>0.5%</b></p>
          </li>
          <li>
            <div class="ico_mileage1906">
              아울렛상품
            </div>
            <p><strong>아울렛상품</strong><br>구매금액의 <b>0.1%</b></p>
          </li>
          <li>
            <div class="ico_mileage1906">
              포토상품평
            </div>
            <p><strong>포토상품평</strong><br>(상품별 최초)<br><b>2,000마일리지</b></p>
          </li>
        </ul>
      </div>
      <div class="best_review">
        <p class="review_w_tit">• 온라인/오프라인 구매</p>
        <ul>
          <li>
            <div class="ico_mileage1906">
              베스트리뷰
            </div>
            <p><strong>베스트리뷰</strong><br>매월 5명 <b>10만원</b> 바우처</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="noti_box" style="">
      <ul class="bul_sty01_li">
        <li>마일리지는 배송 완료일로부터 30일 이내, 작성한 상품평에 한하여 제공됩니다.</li>
        <li>상품평 작성 시, 제공되는 추가 마일리지는 온라인에서 구입한 상품에 한하여 제공됩니다.</li>
        <li>베스트 리뷰는 온라인/오프라인에서 구매한 상품의 상품평 전체를 대상으로 선정합니다.</li>
        <li>할인, 쿠폰 적용 후 실결제금액이 5,000원 이상인 상품에 한하여 지급됩니다.</li>
        <li>판매가 종료된 상품의 경우, 상품 상세페이지가 소멸되어 상품평 작성 및 마일리지 적립이 불가능합니다.</li>
      </ul>
    </div>
    <div class="btn_noti_box on"><span>닫기</span></div>
  </div>
  <!--//마일리지 안내영역 1906 -->
  <div class="pop_tltwrap2 pb0 customerreviewdiv1905">

    <h3>
      상품평(<span id="review_cnt" class="review_cnt">0</span>)
    </h3>
    <div class="star_score1807" id="totalStarScoreWrapper" style="display: none;">
            <span class="cmt_star">
                 <!-- 별점에 따라 class명 변경 (star1, star2 ,star3, star4, star5) -->
                <span class="cmt_per" id="totalStarScore">별점</span>
            </span>
    </div>
    <a href="#;" class="btn_evaluation1905" id="customerReviewWrite" onclick="GA_Event('상품평','상품평 작성하기','클릭');">상품평 작성하기</a>
  </div>
  <!-- pop_cnt-->
  <div class="pop_cnt evaluation_list1807 options">
    <div class="tab_a m3 mt20">
      <input type="hidden" id="review_tab_active" value="ALL">
      <ul id="review_tab">
        <li id="ALL"><a href="#;" class="active" onclick="GA_Event('상품평','탭','전체');">전체 (0)</a></li>
        <li id="PHOTO"><a href="#;" class="" onclick="GA_Event('상품평','탭','포토상품평');">포토 상품평 (0)</a></li>
        <li id="TEXT"><a href="#;" onclick="GA_Event('상품평','탭','일반상품평');">일반 상품평 (0)</a></li>
      </ul>
    </div>
    <div class="clearfix review_tab1_1807">
      <ul><li class="evaluation_view no_list_data1905" style="text-align:center">등록된 상품평이 없습니다.<br>이 상품에 대한 첫 번재 리뷰 글을 작성해주세요~</li></ul>
    </div>
    <!-- paging -->
    <div class="paging mt30" id="reviewPagingDiv"><a class="prev2" href="javascript:void(0);" onclick="GA_Event('상품평', '페이지', 'PREV2')">처음 페이지로 이동</a><a href="javascript:void(0);" class="prev" onclick="GA_Event('상품평', '페이지', 'PREV')">이전 페이지로 이동</a><span class="num"><a href="javascript:void(0);" class="pageBtn" pagenum="1" onclick="GA_Event('상품평', '페이지', '1')">1</a></span><a href="javascript:void(0);" class="next" onclick="GA_Event('상품평', '페이지', 'NEXT')">다음 페이지로 이동</a><a href="javascript:void(0);" class="next2" onclick="GA_Event('상품평', '페이지', 'NEXT2')">마지막 페이지로 이동</a></div>
    <!-- //paging -->
  </div>
  <!--// pop_cnt-->
  <a href="javascript:void(0);" class="btn_close"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기"></a>
</div>

  <div class="popwrap w_type_4" id="customerReviewWriteDiv" style="display:block;">
    <div class="pop_tltwrap2 customerreviewwritediv1807">
      <h3 id="review_title">상품평 작성하기</h3>
      <p class="reqd_txt float_right"><strong class="reqd">*</strong> 표시는 필수항목입니다.</p>
    </div>
    <div class="pop_cnt evaluation_write1905 options1811">
      <form id="reviewForm" name="reviewForm" action="/ko/HANDSOME/MEN/OUTER/DOWN-JUMPER/%ED%9B%84%EB%93%9C-%ED%8C%A8%EB%94%A9-%ED%94%8C%EB%9D%BC%EC%9D%B4%ED%8A%B8-%EC%A0%90%ED%8D%BC/p/TH2B9WJM335N_BK?categoryCode=ME03" method="post" enctype="multipart/form-data"><input type="hidden" name="productCode">
        <input type="hidden" name="productCodeType">
        <input type="hidden" name="orderNumber" id="orderNumber" value="">
        <input type="hidden" name="purchaseColor" id="purchaseColor" value="BK">
        <input type="hidden" name="purchaseColorName" id="purchaseColorName" value="BLACK">
        <input type="hidden" name="purchaseSize" id="purchaseSize" value="">
        <input type="hidden" name="purchaseProdYN" id="purchaseProdYN" value="">
        <input type="hidden" name="orderWriteChk" id="orderWriteChk" value="Y">
        <input type="hidden" name="closeWriteChk" id="closeWriteChk" value="">
        <input type="hidden" name="productId" id="productId" value="">
        <input type="hidden" name="fileDeleteYN" id="fileDeleteYN">

        <!-- 상품평활성화 -->
        <input type="hidden" name="categoryCode" id="categoryCode" value="SZ08">
        <input type="hidden" name="shoulderWidth" id="shoulderWidth" value="">
        <input type="hidden" name="chestSize" id="chestSize" value="">
        <input type="hidden" name="waistSize" id="waistSize" value="">
        <input type="hidden" name="buttSize" id="buttSize" value="">
        <input type="hidden" name="totalSize" id="totalSize" value="">
        <input type="hidden" name="photoAccumulationRightYn" id="photoAccumulationRightYn" value="">
        <input type="hidden" name="offlineOrdDt" id="offlineOrdDt" value="">
        <input type="hidden" name="offlineShpCd" id="offlineShpCd" value="">
        <input type="hidden" name="offlineShpNm" id="offlineShpNm" value="">
        <input type="hidden" name="tempProductId" id="tempProductId" value="">
        <input type="hidden" name="reviewFileCd" id="reviewFileCd" value="">
        <input type="hidden" name="reviewFileCd1" id="reviewFileCd1" value="">
        <input type="hidden" name="reviewFileCd2" id="reviewFileCd2" value="">
        <input type="hidden" name="reviewFileCd3" id="reviewFileCd3" value="">
        <input type="hidden" name="reviewFileCd4" id="reviewFileCd4" value="">
        <fieldset>
          <legend>상품평쓰기</legend>
          <div class="tblwrap">
            <table class="tbl_wtype1">
              <caption>상품평쓰기 입력항목</caption>
              <colgroup>
                <col style="width:135px">
                <col>
                <col style="width:130px">
                <col>
              </colgroup>
              <tbody>
              <tr>
                <th scope="row" class="th_space">상품명</th>
                <td colspan="3" style="padding:15px;">
                  <div class="item_box" id="reviewProductDiv">
                    <div class="pt_list_all">
                      <a href="#;"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg" id="reviewProducImg" alt="상품 이미지" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'"></a>
                      <div class="tlt_wrap review_header_wrapper">
                        <!-- <div class="tlt_wrap review_header_wrapper nodata"> -->
                        <a href="#;" class="basket_tlt">
                          <span class="tlt" id="reviewProductBrandName"></span>
                          <span class="sb_tlt" id="reviewProductProductName"></span> / <span id="reviewProducPrice"></span>
                        </a>
                        <!-- 주문조회에서 넘어올시 이거 보여줌<p class="color_op" id="purchased_color_size" style="display:none;">COLOR : <span id="review_color_name"></span>   <span class="and_line">/</span>  SIZE : <span id="review_size"></span></p> -->
                        <div class="select_options_wrap" style="display:none;">
                          <ul class="select_options">
                            <li class="select_colors">
                              <p><span class="compulsory">*</span> 색상<!-- 색상 --></p>
                              <ul class="color_chip clearfix">
                                <input type="hidden" id="colorName" value="BLACK">
                                <li id="TH2B9WJM335N_BK">
                                  <input type="hidden" class="colorNameVal" value="BLACK">
                                  <a href="#;" class="beige" data-color="BLACK" style="background:#000000 url('http://newmedia.thehandsome.com/TH/2B/FW/TH2B9WJM335N_BK_C01.jpg/dims/resize/24x24');" onclick="javascript:fn_clickColorCode('TH2B9WJM335N_BK', 'BLACK');" onmouseover="setColorName('BLACK');" onmouseout="setColorName('');"></a>
                                </li>
                                <li id="TH2B9WJM335N_GK">
                                  <input type="hidden" class="colorNameVal" value="GREY KHAKI">
                                  <a class="beige" data-color="GREY KHAKI" style="background:#b7b299 url('http://newmedia.thehandsome.com/TH/2B/FW/TH2B9WJM335N_GK_C01.jpg/dims/resize/24x24');" onclick="javascript:fn_clickColorCode('TH2B9WJM335N_GK', 'GREY KHAKI');" onmouseover="setColorName('GREY KHAKI');" onmouseout="setColorName('');"></a>
                                </li>
                                <li>
                                  <span class="cl_name" id="colorNameContent"></span>
                                </li>
                              </ul>
                            </li>
                            <li class="select_size">
                              <p><span class="compulsory">*</span> 사이즈<!-- 사이즈 --></p>
                              <ul class="size_chip clearfix" id="review_size_btn_area">
                                <li id="TH2B9WJM335N_BK_95">
                                  <a onclick="javascript:fn_clickSizeCode('TH2B9WJM335N_BK_95');">95</a>
                                  <productdetails:popupsizequickreference>
                                  </productdetails:popupsizequickreference></li>
                                <li id="TH2B9WJM335N_BK_100">
                                  <a onclick="javascript:fn_clickSizeCode('TH2B9WJM335N_BK_100');">100</a>
                                </li>
                                <li id="TH2B9WJM335N_BK_105">
                                  <a onclick="javascript:fn_clickSizeCode('TH2B9WJM335N_BK_105');">105</a>
                                </li>
                                <li id="TH2B9WJM335N_BK_110">
                                  <a href="#;" class="" onclick="javascript:fn_clickSizeCode('TH2B9WJM335N_BK_110');">110</a>
                                </li>
                              </ul>
                              <!-- <ul class="size_chip clearfix">
                              <li id="MN1IBKTO483W_MB_90">
                                  <a href="javascript:fn_detailProductAjax('MN1IBKTO483W_MB_90')">90</a>
                              </li>
                   </ul> -->
                            </li>
                          </ul>
                        </div>

                        <!-- <div class="select_checkbox">
                            <input type="checkbox" name="" value="" id="storePickTFC">
                            <label for="storePickTFC">상품을 매장에서 구매하셨나요?</label>
                        </div> -->
                      </div>
                      <!--20190529_selelct_group -->
                      <div class="select_group" id="productOption" style="display:none;">
                      </div>
                      <!--//20190529_selelct_group -->
                      <div class="select_checkbox" style="display:none;">
                        <input type="checkbox" id="packopt" name="packopt">
                        <label for="purchaseYN">
                          매장에서 구매한 상품입니다.</label>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="tbl_blank1807">
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr class="radio_btn_1905 bk">
                <th scope="row" class="th_space">연 령</th>
                <td colspan="3">
                  <input id="ageG1" type="radio" name="age" value="18세 이하">
                  <label for="ageG1">18세 이하</label>
                  <input id="ageG2" type="radio" name="age" value="20대">
                  <label for="ageG2">20대</label>
                  <input id="ageG3" type="radio" name="age" value="30대">
                  <label for="ageG3">30대</label>
                  <input id="ageG4" type="radio" name="age" value="40대">
                  <label for="ageG4">40대</label>
                  <input id="ageG5" type="radio" name="age" value="50대">
                  <label for="ageG5">50대</label>
                  <input id="ageG6" type="radio" name="age" value="60대 이상">
                  <label for="ageG6">60대 이상</label>
                </td>
              </tr>
              <tr class="input_txt_1905">
                <th scope="row" class="th_space" id="thHeight">
                  <strong class="reqd">*</strong>
                  키</th>
                <td><input type="text" name="height" id="height" style="width:75%amrgin-right:10px">cm</td>
                <th scope="row" class="th_space" id="thEnjoySize">
                  <strong class="reqd">*</strong>
                  평소 사이즈</th>
                <td><input type="text" name="enjoySize" id="enjoySize"></td>
              </tr>
              <tr class="radio_btn_1905">
                <th scope="row" class="th_space" id="thBodyType">
                  <strong class="reqd">*</strong>
                  체 형</th>
                <td colspan="3">
                  <input id="dark1" type="radio" name="bodyType" value="마른 체형">
                  <label for="dark1">마른 체형</label>
                  <input id="dark2" type="radio" name="bodyType" value="보통">
                  <label for="dark2">보통</label>
                  <input id="dark3" type="radio" name="bodyType" value="통통한 체형">
                  <label for="dark3">통통한 체형</label>
                </td>
              </tr>
              <tr class="tbl_blank1807">
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr class="write_star_wrap">
                <th colspan="4">
                  <div class="write_star_score1807">
                                        <span class="cmt_star">
                                            <span class="cmt_per star5">별점</span>
                                        </span>
                    <ul class="btn_star_score">
                      <li><a href="#;" value="1">1점</a></li>
                      <li><a href="#;" value="2">2점</a></li>
                      <li><a href="#;" value="3">3점</a></li>
                      <li><a href="#;" value="4">4점</a></li>
                      <li><a href="#;" value="5">5점</a></li>
                      <input type="hidden" id="rating" name="rating" value="5">
                    </ul>
                    <p>평점을 선택해 주세요.</p>
                  </div>
                </th>
              </tr>
              <tr>
                <th scope="row" class="th_space"><strong class="reqd">*</strong>실 착용 사이즈</th>
                <td colspan="3">
                  <!--20190529_상품평활성화-->
                  <div class="cont_detail">
                    <p class="left_txt">어깨너비 : </p>
                    <ul class="rd_box_radio_list">
                      <li>
                        <input id="realWearSize1_01" type="radio" name="realWearSize1" value="1">
                        <label for="realWearSize1_01">타이트함</label>
                      </li>
                      <li>
                        <input id="realWearSize1_02" type="radio" name="realWearSize1" value="2">
                        <label for="realWearSize1_02">적당함</label>
                      </li>
                      <li>
                        <input id="realWearSize1_03" type="radio" name="realWearSize1" value="3">
                        <label for="realWearSize1_03">여유있음</label>
                      </li>
                    </ul>
                  </div>
                  <div class="cont_detail">
                    <p class="left_txt">가슴둘레 : </p>
                    <ul class="rd_box_radio_list">
                      <li>
                        <input id="realWearSize2_01" type="radio" name="realWearSize2" value="1">
                        <label for="realWearSize2_01">타이트함</label>
                      </li>
                      <li>
                        <input id="realWearSize2_02" type="radio" name="realWearSize2" value="2">
                        <label for="realWearSize2_02">적당함</label>
                      </li>
                      <li>
                        <input id="realWearSize2_03" type="radio" name="realWearSize2" value="3">
                        <label for="realWearSize2_03">여유있음</label>
                      </li>
                    </ul>
                  </div>
                  <div class="cont_detail">
                    <p class="left_txt">총길이 : </p>
                    <ul class="rd_box_radio_list">
                      <li>
                        <input id="realWearSize3_01" type="radio" name="realWearSize3" value="1">
                        <label for="realWearSize3_01">짧은 편</label>
                      </li>
                      <li>
                        <input id="realWearSize3_02" type="radio" name="realWearSize3" value="2">
                        <label for="realWearSize3_02">적당함</label>
                      </li>
                      <li>
                        <input id="realWearSize3_03" type="radio" name="realWearSize3" value="3">
                        <label for="realWearSize3_03">긴 편</label>
                      </li>
                    </ul>
                  </div>
                  <!--//20190529_상품평활성화-->
                </td>
              </tr>
              <tr>
                <th scope="row" class="th_space"><strong class="reqd">*</strong>실 제품 색상</th>
                <td colspan="3">
                  <input id="dark" type="radio" name="realProductColor" value="1">
                  <label for="dark">어두워요</label>
                  <input id="same" type="radio" name="realProductColor" class="ml20" value="2">
                  <label for="same">화면과 같아요</label>
                  <input id="light" type="radio" name="realProductColor" class="ml20" value="3">
                  <label for="light">밝아요</label>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <strong class="reqd" style="margin-top:6px;">*</strong>
                  <label for="lb1" style="margin-top:6px;">상품평<br>
                    <span class="subtxt_1905">
                                            (20자 이상<br>&nbsp;200자 이하)</span>
                  </label>
                </th>
                <td colspan="3">
                  <textarea id="reviewHeadline" name="headline" cols="30" rows="5" style="width:98%;height:78px" maxlength="200"></textarea>
                </td>
              </tr>
              <tr>
                <th scope="row" id="thFile" class="th_space"><label for="file">사진등록</label></th>
                <td colspan="3">
                  <!-- File upload -->
                  <div class="file_upload hs_input_file_wrap2003">
                    <div class="upload_wrap2003">
                      <input type="text" id="textReviewFile" class="text" title="파일 첨부하기" readonly="readonly" name="fileText">
                      <div class="upload_btn">
                        <input type="file" name="reviewFile" id="reviewFile" class="btn add_s" title="파일찾기">
                        <label for="reviewFile">
                          <!-- 	 <button type="button" id="uploadFile1" class="img_upload" title="파일찾기">  -->
                          <span id="uploadFile1" class="img_upload">파일찾기</span>
                          <!--	 </button> -->
                        </label>

                      </div>
                    </div>
                    <ul class="file_image_wrap2003">

                    </ul>
                    <p class="txt_guide">10MB 미만의 jpg,gif,png 파일만 첨부하실 수 있습니다.</p>                                    <!-- //File upload -->
                  </div></td>
              </tr>
              </tbody>
            </table>
            <p class="txt_guide">
              <span style="color:#e46764; font-weight: bold;">- 상품평과 무관한 내용이거나  상품 재판매, 광고, 동일 문자의 반복 및 기타 불법적인 내용은 통보 없이 삭제되며,<br>&nbsp;&nbsp;해당 글 작성자 ID는 글쓰기 권한이 제한됩니다.</span><br>- 반품, 취소 등의 CS관련 글은 고객센터&gt;1:1문의로 이동될 수 있습니다.<br>
              <span>- 더한섬닷컴에서 구매한 상품의 상품평을 배송완료 30일 이내 작성 시, 추가 마일리지를 지급합니다.</span><br>

              - 마일리지 지급에 대한 상세 내용은 마이페이지&gt;내 상품평 페이지에서 확인 부탁드립니다.<br>
              &nbsp;&nbsp;(마일리지 적립은 오프라인 구매 및 간편회원 제외)</p>
          </div>
          <div class="btnwrap mt40">
            <input type="button" id="reviewCancle" value="취소하기" class="btn wt">
            <input type="button" id="reviewWriteSend" value="등록하기" class="btn gray mr0">
          </div>

        </fieldset>
        <div>
          <input type="hidden" name="CSRFToken" value="da5c1c2a-2952-4bf1-b844-124d000a1235">
        </div></form></div>
    <a href="javascript:void(0);" id="reviewCloseBtn" style="position: absolute; top: 20px; right: 20px; width: 20px; height: 20px;"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기"></a>
  </div>

</div>
</body>
</html>