<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.2.min.js}"></script>

    <!-- Vendor JS Files -->
    <script th:src="@{/biz/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/biz/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/biz/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/biz/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/biz/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/biz/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/biz/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/biz/vendor/php-email-form/validate.js}"></script>
</th:block>
</html>