<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/biz/layout/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="script">
    <script>
        let sales;
        let revenue;
        let customers;

        let reportsChart;
        let chartSeries = [];

        let salesCountDateType = "month";
        let revenueDateType = "month";
        let customersDateType = "month";

        $().ready(function () {
            // 차트
            initReportsChart();

            // 구매 횟수
            $.ajax({
                type: "POST",
                url: "/api/biz/statistics",
                dataType: "json",
                data: JSON.stringify({
                    dataType: "salesCount",
                    dateType: salesCountDateType
                }),
                contentType: "application/json",
                success: function (data) {
                    sales = data["data"];

                    if (sales.length <= 0)
                        return;

                    let salesCountList = [];
                    Object.keys(sales).sort().forEach((key) => {
                        salesCountList.push(sales[key])
                    })

                    let [prev, today] = salesCountList.slice(-2);
                    setSalesCard(today, prev);

                    chartSeries[0] = ({
                        name: "sales",
                        data: dict2Series(sales)
                    });

                    reportsChart.updateSeries(chartSeries);
                },
                error: function (request, status, error) {
                    ajaxError(request, status, error);
                }
            })

            // 구매 금액
            $.ajax({
                type: "POST",
                url: "/api/biz/statistics",
                dataType: "json",
                data: JSON.stringify({
                    dataType: "revenue",
                    dateType: revenueDateType
                }),
                contentType: "application/json",
                success: function (data) {
                    revenue = data["data"];
                    let revenueList = [];
                    Object.keys(revenue).sort().forEach((key) => {
                        revenueList.push(revenue[key])
                    });


                    let [prev, today] = revenueList.slice(-2);
                    setRevenueCard(today, prev);

                    let chartData = {};
                    Object.entries(revenue).forEach((x) => chartData[x[0]] = Math.round(x[1] * 0.00001));

                    chartSeries[1] = ({
                        name: "revenue",
                        data: dict2Series(revenue)
                    });
                    reportsChart.updateSeries(chartSeries);
                },
                error: function (request, status, error) {
                    ajaxError(request, status, error);
                }
            })

            // 방문자 수
            $.ajax({
                type: "POST",
                url: "/api/biz/statistics",
                dataType: "json",
                data: JSON.stringify({
                    dataType: "customers",
                    dateType: customersDateType
                }),
                contentType: "application/json",
                success: function (data) {
                    customers = data["data"];
                    let customersList = [];
                    Object.keys(customers).sort().forEach((key) => {
                        customersList.push(customers[key])
                    })

                    let [prev, today] = customersList.slice(-2);
                    setCustomersCard(today, prev);

                    chartSeries[2] = {
                        name: "customers",
                        data: dict2Series(customers)
                    };
                    reportsChart.updateSeries(chartSeries);
                },
                error: function (request, status, error) {
                    ajaxError(request, status, error);
                }
            });

        });

        function setSalesCard(today, prev) {
            $("#salesCount").text(addComma(today));

            if (prev != 0) {
                $("#salesCountChangeRate").text(addComma(Math.floor(((today - prev) / prev) * 100)) + "%");
            } else {
                $("#salesCountChangeRate").text(addComma(today * 100) + "%");
            }

            if (today >= prev) {
                $("#salesCountChangeRate").removeClass();
                $("#salesCountChangeRate").addClass("text-success small pt-1 fw-bold");
                $("#salesCountChangeText").text("증가");
            } else {
                $("#salesCountChangeRate").removeClass();
                $("#salesCountChangeRate").addClass("text-danger small pt-1 fw-bold");
                $("#salesCountChangeText").text("감소");
            }

            switch (salesCountDateType.toUpperCase()) {
                case "YEAR":
                    $("#salesCountDateType").text("| 연간");
                    break;
                case "MONTH":
                    $("#salesCountDateType").text("| 월간");
                    break;
                case "DATE":
                    $("#salesCountDateType").text("| 일간");
                    break;
            }
        }

        function setRevenueCard(today, prev) {
            $("#revenue").text("₩" + addComma(today));

            if (prev != 0)
                $("#revenueChangeRate").text(addComma(Math.floor(((today - prev) / prev) * 100)) + "%");
            else
                $("#revenueChangeRate").text(addComma(today * 100) + "%");

            if (today >= prev) {
                $("#revenueChangeRate").removeClass();
                $("#revenueChangeRate").addClass("text-success small pt-1 fw-bold");
                $("#revenueChangeText").text("증가");
            } else {
                $("#revenueChangeRate").removeClass();
                $("#revenueChangeRate").addClass("text-danger small pt-1 fw-bold");
                $("#revenueChangeText").text("감소");
            }

            switch (revenueDateType.toUpperCase()) {
                case "YEAR":
                    $("#revenueDateType").text("| 연간");
                    break;
                case "MONTH":
                    $("#revenueDateType").text("| 월간");
                    break;
                case "DATE":
                    $("#revenueDateType").text("| 일간");
                    break;
            }
        }

        function setCustomersCard(today, prev) {
            $("#customers").text(addComma(today));

            if (prev != 0)
                $("#customersChangeRate").text(addComma(Math.floor(((today - prev) / prev) * 100)) + "%");
            else
                $("#customersChangeRate").text(addComma(today * 100) + "%");

            if (today >= prev) {
                $("#customersChangeRate").removeClass();
                $("#customersChangeRate").addClass("text-success small pt-1 fw-bold");
                $("#revenueChangeText").text("증가");
            } else {
                $("#customersChangeRate").removeClass();
                $("#customersChangeRate").addClass("text-danger small pt-1 fw-bold");
                $("#customersChangeText").text("감소");
            }

            switch (customersDateType.toUpperCase()) {
                case "YEAR":
                    $("#customersDateType").text("| 연간");
                    break;
                case "MONTH":
                    $("#customersDateType").text("| 월간");
                    break;
                case "DATE":
                    $("#customersDateType").text("| 일간");
                    break;
            }
        }

        function initReportsChart() {
            // 차트
            chartSeries.length = 3;
            reportsChart = new ApexCharts(document.querySelector('#reportsChart'), {
                series: [{data: []}, {data: []}, {data: []}],
                chart: {
                    height: 450,
                    type: 'area',
                    toolbar: {
                        show: false
                    },
                    zoom: {
                        enabled: false
                    }
                },
                xaxis: {
                    type: "datetime",
                    labels:{
                        format:'yyyy MM'
                    }
                },
                markers: {
                    size: 4
                },
                colors: ['#4154f1', '#2eca6a', '#ff771d'],
                fill: {
                    type: "gradient",
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth',
                    width: 2
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
                noData: {
                    text: 'Loading...'
                }
            });
            reportsChart.render();
        }

        function dict2Series(dict) {
            let series = [];
            Object.keys(dict).sort().forEach((key) => {
                series.push([key, dict[key]]);
            });

            return series;
        }
    </script>
</th:block>
<th:block layout:fragment="content">
    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-10">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#" th:value="date">일간</a></li>
                                    <th:block th:if="false">
                                        <!-- TODO -->
                                        <li><a class="dropdown-item" href="#" th:value="month">월간</a></li>
                                        <li><a class="dropdown-item" href="#" th:value="year">연간</a></li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">판매 건수 <span id="salesCountDateType"></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="salesCount"></h6>
                                        <span class="text-success small pt-1 fw-bold" id="salesCountChangeRate"></span>
                                        <span
                                                class="text-muted small pt-2 ps-1" id="salesCountChangeText"></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#" th:value="date">일간</a></li>
                                    <th:block th:if="false">
                                        <!-- TODO -->
                                        <li><a class="dropdown-item" href="#" th:value="month">월간</a></li>
                                        <li><a class="dropdown-item" href="#" th:value="year">연간</a></li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">판매 금액 <span id="revenueDateType"></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="revenue"></h6>
                                        <span class="text-success small pt-1 fw-bold" id="revenueChangeRate"></span>
                                        <span
                                                class="text-muted small pt-2 ps-1"
                                                id="revenueChangeText"></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#" th:value="date">일간</a></li>
                                    <th:block th:if="false">
                                        <!-- TODO -->
                                        <li><a class="dropdown-item" href="#" th:value="month">월간</a></li>
                                        <li><a class="dropdown-item" href="#" th:value="year">연간</a></li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">구매자 수 <span id="customersDateType"></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="customers"></h6>
                                        <span class="text-success small pt-1 fw-bold"
                                              id="customersChangeRate"></span> <span
                                            class="text-muted small pt-2 ps-1" id="customersChangeText"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">

                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#" th:value="date">일간</a></li>
                                    <th:block th:if="false">
                                        <li><a class="dropdown-item" href="#" th:value="month">월간</a></li>
                                        <li><a class="dropdown-item" href="#" th:value="hour">연간</a></li>
                                    </th:block>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Reports <span id="chartDateType">| 월간</span></h5>

                                <!-- Line Chart -->
                                <div id="reportsChart"></div>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
</th:block>
</html>