<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="bizHead">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.rtl.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-grid.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-grid.rtl.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-reboot.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-reboot.rtl.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-utilities.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-utilities.rtl.css}"/>

    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.esm.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>

</th:block>