<script>
    //<![CDATA[

    $(document).ready(function () {
        var ua = navigator.userAgent.toLowerCase();
        // 익스플로러 브라우저 아닐 때만 인스타 링크버튼 노출
        if ((ua.indexOf('trident') == -1) && (ua.indexOf("msie") == -1)) {
            $("#f_insta").show();
        }
    });

    getNewsList("/ko/magazine");


    // 2022.03.29 푸터 공지사항 추가
    getFooterNotices("/ko/svcenter");


    function moveMobile() {
// 	location.href = location.href.replace("?uiel=Desktop", "") + "?uiel=Mobile";
        location.href = "/ko/?uiel=Mobile";
    }


    function setLogout() {
        var ssoUrl = 'https://sso.h-point.co.kr:29865' + "/co/setDscdToknJSONP.hd";
        gfnSsoDscdToknReqAjax(ssoUrl, hplogoutSuccess);
    }

    function hplogoutSuccess(data) {
        deletecookie("UID");
        deletecookie("criteoEmail");
        deletecookie("memberGb");
        location.href = "/ko/logout";
    }

    //]]>
</script>

<div id="footerWrap" th:fragment="footer">
    <div class="footer">
        <!--footer_cnts1 -->
        <div class="footer_cnts1 clearfix">
            <!-- footer_menu-->
            <div class="footer_menu cnts1_left">
                <div class="footer_logo"><a href="/ko/main" onclick="GA_Event('공통','로고','하단');"><img
                        src="http://cdn.thehandsome.com/_ui/desktop/common/images/common/footer_logo_renew.png"
                        alt="HANDSOME"></a></div>
                <div class="footer_link">
                    <ul class="clearfix">
                        <li><a href="/ko/svcenter/theClubInfo" onclick="GA_Event('공통','푸터_메뉴','온라인 멤버십');">온라인 멤버십</a>
                        </li>
                        <li><a href="/ko/svcenter/memberbenefitguide" onclick="GA_Event('공통','푸터_메뉴','한섬 VVIP 혜택');">한섬
                            VVIP 혜택</a></li>
                        <li><a href="/ko/svcenter/pointguide" onclick="GA_Event('공통','푸터_메뉴','한섬마일리지 혜택');">한섬마일리지
                            혜택</a></li>
                        <li><a href="/ko/svcenter/couponguide" onclick="GA_Event('공통','푸터_메뉴','쿠폰');">쿠폰</a></li>
                        <li><a href="/ko/svcenter/asguide"
                               onclick="GA_Event('공통','푸터_메뉴','반품&amp;환불안내');">반품&amp;환불안내</a></li>
                    </ul>
                    <ul class="clearfix">
                        <li><a href="/ko/svcenter/submain" onclick="GA_Event('공통','푸터_메뉴','고객센터');">고객센터</a></li>
                        <li><a href="/ko/svcenter/faq" onclick="GA_Event('공통','푸터_메뉴','FAQ');">FAQ</a></li>
                        <li><a href="/ko/svcenter/mending" onclick="GA_Event('공통','푸터_메뉴','수선진행조회');">수선진행조회</a></li>
                    </ul>
<!--                    <ul class="clearfix">-->
<!--                        <li><a href="javascript:setLogout();" onclick="GA_Event('공통','푸터_메뉴','로그아웃');">로그아웃</a></li>-->
<!--                        <li><a href="/ko/mypage/order/myorders" onclick="GA_Event('공통','푸터_메뉴','주문배송조회');">주문배송조회</a>-->
<!--                        </li>-->
<!--                        <li><a href="/ko/mypage/order/myorders" onclick="GA_Event('공통','푸터_메뉴','취소/반품');">취소/반품</a></li>-->
<!--                        <li><a href="/ko/mypage/myWish" onclick="GA_Event('공통','푸터_메뉴','위시리스트');">위시리스트</a></li>-->
<!--                    </ul>-->
                    <ul class="clearfix">
                        <li><a href="http://www.handsome.co.kr/ko/company/aboutHandsome.do" target="_blank"
                               onclick="GA_Event('공통','푸터_메뉴','회사소개');">회사소개<!-- 회사소개 --></a></li>
                        <li><a href="http://www.handsome.co.kr/ko/brand/fashion.do" target="_blank"
                               onclick="GA_Event('공통','푸터_메뉴','브랜드소개');">브랜드소개</a></li>
                        <li><a href="http://www.handsome.co.kr/ko/ir/governance01.do" target="_blank"
                               onclick="GA_Event('공통','푸터_메뉴','투자정보');">투자정보</a></li>
                        <li>
                            <a href="https://recruit.ehyundai.com/recruit-info/announcement/list.nhd?pageNo=1&amp;hireGb=01&amp;coCd=HDHAN"
                               target="_blank" onclick="GA_Event('공통','푸터_메뉴','채용정보');">채용정보</a></li>
                        <li><a href="http://www.handsome.co.kr/ko/sustainability/sharedGrowth01.do" target="_blank"
                               onclick="GA_Event('공통','푸터_메뉴','동반성장');">동반성장</a></li>
                    </ul>
                </div>
            </div>
            <!-- //footer_menu-->
<!--            <div class="footer_apps cnts1_right">-->
<!--                <ul>-->
<!--                    <li class="loca"><a href="/ko/b/storeInformation" onclick="GA_Event('공통','푸터','매장안내');">매장안내</a>-->
<!--                    </li>-->
<!--                    <li class="look"><a href="/ko/magazine/lookbook" onclick="GA_Event('공통','푸터','룩북');">룩북</a></li>-->
<!--                    <li class="ico_youtube"><a href="/ko/magazine/youtubeList"-->
<!--                                               onclick="GA_Event('공통','푸터_SNS','YOUTUBE');">비디오</a></li>-->
<!--                    &lt;!&ndash; 200330 추가 &ndash;&gt;-->
<!--                    <li class="ico_insta" id="f_insta" style=""><a-->
<!--                            href="https://www.instagram.com/thehandsome_official/" target="_blank"-->
<!--                            onclick="GA_Event('공통','푸터_SNS','INSTAGRAM');">인스타그램</a></li>&lt;!&ndash; 200330 추가 &ndash;&gt;-->
<!--                </ul>-->
<!--                &lt;!&ndash;download_app , athome&ndash;&gt;-->
<!--                <div class="cnts1_right_inner">-->
<!--                    <a href="/ko/appDownloadSMS/sendSMSPage" onclick="GA_Event('공통','푸터','APP다운로드');">-->
<!--                        <img src="http://cdn.thehandsome.com/_ui/desktop/common/images/common/footer_ico_apps.png"-->
<!--                             alt="APP 다운로드" style="width:52px;height:71px;">-->
<!--                        &lt;!&ndash; 				        <img src="/_ui/desktop/common/images/common/ico_apps_new.png" alt="APP 다운로드" style="width:54px;height:70px;"> &ndash;&gt;-->
<!--                        <p>APP 다운로드 &gt;</p>-->
<!--                    </a>-->
<!--                    <a href="/ko/svcenter/footerAthomeInfo" style="margin-right:0;"-->
<!--                       onclick="GA_Event('공통','푸터','딜리버리서비스');">-->
<!--                        <img src="http://cdn.thehandsome.com/pc/footer/footer_athome_car.png" alt="딜리버리 서비스"-->
<!--                             style="width:85px;">-->
<!--                        &lt;!&ndash; 				        <img src="http://cdn.thehandsome.com/pc/footer_athome_car.jpg" alt="딜리버리 서비스" style="width:95px;"> &ndash;&gt;-->
<!--                        <p>딜리버리 서비스 &gt;</p>-->
<!--                    </a>-->
<!--                </div>-->
<!--                &lt;!&ndash;//download_app , athome&ndash;&gt;-->
<!--            </div>-->
        </div>
        <!--//footer_cnts1 -->
    </div>
    <!--footer_cnts2 -->
    <div class="footer_cnts2 clearfix">
        <div class="footer">
            <div class="cnts2_left">
                <a href="/ko/footer/footerTermBusiness" onclick="GA_Event('공통','푸터_CNT','서비스이용약관');">서비스이용약관</a>
                <a href="/ko/footer/footerPrivacy" onclick="GA_Event('공통','푸터_CNT','개인정보처리방침');">개인정보처리방침
                    <!-- 개인정보처리방침 --></a>
                <a href="javascript:void(0);" class="box"
                   onclick="javascript:window.open('http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1208126337', 'communicationViewPopup', 'width=750, height=700');GA_Event('공통','푸터_CNT','통신판매사업자정보확인');">통신판매사업자정보확인</a>
                <a href="https://mark.inicis.com/mark/escrow_popup.php?mid=handsomep1" class="box"
                   onclick="GA_Event('공통','푸터_CNT','에스크로서비스가입확인');">에스크로서비스 가입 확인</a>
                <p class="top_p"><span>(주)한섬</span><span>대표이사 : 현대IT&E</span><span>서울시 창경궁로 254 </span><span>TEL 0000-0000</span><span
                        class="bgnone">FAX 00-0000-0000</span></p>
                <p><span>사업자등록번호 000-00-00000</span><span>통신판매업신고번호 강남 제 00000호</span><span>개인정보보호책임자 현대IT&E</span><span
                        class="bgnone">호스팅서비스 : (주) 한섬</span></p>
                <p class="copyright">COPYRIGHT © 2022 THE RENEWAL HANDSOME. ALL RIGHT RESERVED.</p>
            </div>


        </div>
    </div>
    </div>
    <!--//footer_cnts2 -->
</div><!-- 네이버 애널리틱스 전환페이지 설정 : s -->
