<div class="gnbwarp new201608 clearfix" th:fragment="gnbwarp_image">
    <h1 class="logo logo1903">
        <a href="/" onclick="GA_Event('공통', '로고', '상단');">thehandsome.com</a>
    </h1>
    <!-- 첫번째 c:if -->


    <div id="transparent_mask"></div>
    <!-- 201803 util menu -->
    <div class="util_menu util_menu1803">
        <ul class="clearfix">
            <li><a href="javascript:void(0);"><span class="ico_sh">search</span></a></li>
            <li></li>
            <li><a href="/cart/cartList" onclick="GA_Event('공통','유틸_메뉴','쇼핑백');"><span
                    class="ico cart">장바구니</span></a>
            </li>
        </ul>
    </div>
</div>
