<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="script">
    <!-- <script type="text/javascript" th:src="@{/js/actions.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.vticker.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv-printshiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
    <script type="text/javascript" th:src="@{/js/ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form-3.51.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_function.js}"></script>
    <script type="text/javascript" th:src="@{/js/videojs-ie8.min.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>-->
    <!-- <script type="text/javascript" th:src="@{/js/respond.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/makePCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel_skin.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/unorm.js}"></script>
    <script type="text/javascript" th:src="@{/js/appboy.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.bxslider.min.js}"></script>
</th:block>
</html>