<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="top_nav">
    <div class="top_nav topnav1903">
        <!--맨위헤더-->
        <script type="text/javascript" th:src="@{/js/beta.fix.js}"></script>
        <script type="text/javascript" th:src="@{/js/ark.js}"></script>
        <script type="text/javascript" th:src="@{/js/search.js}"></script>
        <script>

            $().ready(function () {

                $('#gnbsearch').click(function () {
                    var searchwords = $('#gnbsearchwords').val();
                    searchwords = searchwords.replace(/(^\s*)|(\s*$)/g, "");

                    if (searchwords != "") {
                        location.href = "/ko/hssearch?searchwords=" + searchwords;
                    } else {
                        $('#gnbsearchwords').val("");
                        alert("검색어를 입력해주세요.");
                    }
                });

                // STAR, THE STAR 일 때만 VIP 라운지 버튼 보이게
                let status = $(".loginStatus").val();
                if(status == "1") {
                    $.ajax({
                        type: "POST",
                        url: "/member/checkVIP",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            let btn = document.getElementById("vipBtn");
                            if (result == true) {
                                btn.style.display = 'block';
                            } else {
                                btn.style.display = 'none';
                            }
                        },
                        error: function (request, status, error) {
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(csrf_header, csrf_token);
                        }
                    });
                }
            });

            function logout() {
                $("#logoutForm").submit();
            }

            function searchOn() {
                searchInit();
                $('div.gnb_sh_wrap').css("display", "block");
                $('div.util_menu').css("display", "none");
                $('div.gnb_sh_result').css("display", "block");

            }

            function searchOff() {

                $('div.util_menu').css("display", "block");
                $('div.gnb_sh_wrap').css("display", "none");

            }

            function showTab() {

                $('div.gnb_sh_result').css("display", "block");

            }
        </script>
        <div class="top_nav_wrap clearfix">
            <div class="brand_menu brand_menu1903">
                <ul class="clearfix">
                    <!-- 선호 브랜드 없음 -->
                    <li><span class="on"><a href="/" onclick="GA_Event('공통','탑_네비게이션','HOME')">HOME</a></span>
                    </li>
                    <!-- 로그인 상태 -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                    <a href="/biz">
                        <img src="/images/admin_logo.png" width="20" style="margin-top : 5px" />
                    </a>
                    </th:block>
<!--                       -->
                    <!-- 비로그인 상태 -->
                </ul>
            </div>
            <div class="gnb_sh_wrap" style="display:none;">
                <!-- search box -->
                <div class="gnb_sh_box">
                    <input class="input" id="gnbsearchwords"
                           onkeypress="if(event.keyCode==13) {EnterSearchHeader(); return false;}" title="검색어 입력"
                           type="text"
                           value="">
                    <a href="javascript:void(0);" id="gnbsearch">검색</a>
                </div>
                <!-- //search box -->
                <!-- search result -->
                <div class="gnb_sh_result">
                    <div class="tab">
                        <a class="menu on" href="javascript:void(0);">최근검색어</a>
                        <div class="result_list on">
                            <div class="searchWord1" style="display: none;"><a class="ml newlyBtn"
                                                                               href="javascript:void(0);"
                                                                               id="searchWord1"></a><a
                                    class="close" href="javascript:void(0);"
                                    onclick="deletecookie('HS_Seachwords1')">닫기</a></div>
                            <div class="searchWord2" style="display: none;"><a class="ml newlyBtn"
                                                                               href="javascript:void(0);"
                                                                               id="searchWord2"></a><a
                                    class="close" href="javascript:void(0);"
                                    onclick="deletecookie('HS_Seachwords2')">닫기</a></div>
                            <div class="searchWord3" style="display: none;"><a class="ml newlyBtn"
                                                                               href="javascript:void(0);"
                                                                               id="searchWord3"></a><a
                                    class="close" href="javascript:void(0);"
                                    onclick="deletecookie('HS_Seachwords3')">닫기</a></div>
                            <div class="searchWord4" style="display: none;"><a class="ml newlyBtn"
                                                                               href="javascript:void(0);"
                                                                               id="searchWord4"></a><a
                                    class="close" href="javascript:void(0);"
                                    onclick="deletecookie('HS_Seachwords4')">닫기</a></div>
                            <div class="searchWord5" style="display: none;"><a class="ml newlyBtn"
                                                                               href="javascript:void(0);"
                                                                               id="searchWord5"></a><a
                                    class="close" href="javascript:void(0);"
                                    onclick="deletecookie('HS_Seachwords5')">닫기</a></div>
                            <a class="btn_svclose" href="javascript:void(0);">검색어 <span id="searchSaveYN"
                                                                                        save="on">끄기</span></a>
                            <a class="btn_allclose on" href="javascript:void(0);" onclick="searchOff()">닫기</a>
                        </div>
                        <a class="menu" href="javascript:void(0);">인기검색어</a>
                        <div class="result_list">
                            <div><a class="ml favBtn" href="javascript:void(0);">jacket</a>
                                <!-- <a href="javascript:void(0);" class="close">닫기</a> -->
                            </div>
                            <div><a class="ml favBtn" href="javascript:void(0);">blouse</a>
                                <!-- <a href="javascript:void(0);" class="close">닫기</a> -->
                            </div>
                            <div><a class="ml favBtn" href="javascript:void(0);">stripe</a>
                                <!-- <a href="javascript:void(0);" class="close">닫기</a> -->
                            </div>
                            <div><a class="ml favBtn" href="javascript:void(0);">ribbon</a>
                                <!-- <a href="javascript:void(0);" class="close">닫기</a> -->
                            </div>
                            <div><a class="ml favBtn" href="javascript:void(0);">blouson</a>
                                <!-- <a href="javascript:void(0);" class="close">닫기</a> -->
                            </div>
                            <a class="btn_svclose" href="javascript:void(0);">검색어 <span id="searchSaveYNfame"
                                                                                        save="on">끄기</span></a>
                            <a class="btn_allclose" href="javascript:void(0);" onclick="searchOff()">닫기</a>
                        </div>
                    </div>
                </div>
                <!-- //search result -->
            </div>
            <!-- 201705 search_box_wrap -->
            <div class="search_box_wrap sbw1803" id="searchBox">
                <form action="/ko/hssearch/searchCount" id="search" method="post" name="search"
                      onsubmit="return false;">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <input name="searchwords" type="hidden" value="">
                    <input name="startCount" type="hidden" value="">
                    <input name="mode" type="hidden" value="">
                    <input name="sort" type="hidden" value="">
                    <input name="collection" type="hidden" value="">
                    <input name="range" type="hidden" value="">
                    <input name="startDate" type="hidden" value="">
                    <input name="endDate" type="hidden" value="">
                    <input name="searchField" type="hidden" value="">
                    <input name="reQuery" type="hidden">
                    <input id="prefixQuery" type="hidden" value="">
                    <input id="identity" name="identity" type="hidden" value="">
                    <input id="realQuery" name="realQuery" type="hidden" value="">
                    <input id="loginState" type="hidden" value="loginOn">
                    <input id="athomeInfo" type="hidden" value="">
                    <input id="selectedLang" name="selectedLang" type="hidden" value="product_ko">
                    <input id="lang" name="lang" type="hidden" value="ko">
                    <input id="brandPageGubun" name="brandPageGubun" type="hidden" value="off"><!-- 브랜드 페이지 여부 -->
                    <input id="brand_img" name="brand_img" type="hidden" value="">
                    <input id="brand_url" name="brand_url" type="hidden" value="">
                    <div class="search_box">
                        <label class="hidden" for="query">search</label>
                        <input autocomplete="off" id="query" name="query"
                               onkeypress="javascript:pressCheck((event),this);"
                               style="margin-top: 0.2px;" type="search"
                               value="">
                        <span class="placeholder"></span>
                        <a href="javascript:void(0);"><span class="btn_close">닫기</span></a>
                        <a class="search" href="javascript:GA_search();doSearch();"><span class="ico">검색</span></a>
                    </div>
                </form>
                <!--검색박스 활성화 data_react -->
                <div class="data_react">
                    <!-- tab 검색어 입력 전 -->
                    <div class="search_tab">
                        <div class="btn_search_tab" style="display:none;">
                            <a class="btn_recent_search on" href="javascript:void(0);"
                               onclick="GA_Event('검색','최근 검색어','클릭')"
                               rel="recent_search">최근 검색어</a>
                            <a class="btn_style_search" href="javascript:void(0);" id="btn_style_search"
                               rel="style_search">Style Search</a>
                            <a class="btn_style_search" href="javascript:void(0);" id="btn_top_search"
                               onclick="GA_Event('검색','인기검색어','클릭')"
                               rel="popular_search" style="display:none;">인기검색어</a>
                        </div>
                        <!-- 최근 검색어 -->
                        <div class="recent_search s_tab">
                            <ul id="mykeyword">
                                <div class="clear_search_hs"><a href="javascript:removeAllMyKeyword()">검색기록전체삭제</a>
                                </div>
                            </ul>
                        </div>
                        <!-- style search -->
                        <form action="/ko/hssearch/searchCount" id="searchStyle" method="post" name="searchStyle"
                              onsubmit="return false;">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                            <input name="query" type="hidden" value="">
                            <input name="collection" type="hidden" value="">
                            <input id="searchStyleYn" name="searchStyleYn" type="hidden" value="searchStyle">
                        </form>

                        <div class="style_search s_tab" id="stylesearch_area">
                            <p class="style_search_tlt">Style Search 2018</p>
                            <div class="ss_txt_list">
                                <ul class="style_search_arr" id="style_search_arr">
                                </ul>
                            </div>
                            <div class="ss_img_list" id="styleSearchSlider">
                                <ul class="slides">
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                        <!-- style search 컨텐츠 하나일 때-->
                        <!-- <div class="style_search s_tab">
                            <div class="ss_txt_list">
                                <p class="style_search_tlt">Style Search 2017 S/S</p>
                                <ul id="style_search_arr">
                               </ul>
                            </div>
                             <div class="ss_img_list" id="styleSearchSlider">
                                <ul class="slides"><li></li></ul>
                            </div>
                        </div> -->
                        <!-- //style search 컨텐츠 하나일 때-->
                        <div class="popular_search s_tab" id="topsearch_area" style="display:none;">
                            <ol class="ol_popular1" id="topsearchLeft">
                            </ol>
                            <!-- 				                <ol class="ol_popular2" id="topsearchRight"> -->
                            <!-- 	                            </ol> -->
                        </div>
                    </div>
                    <!--// tab 검색어 입력 전 -->
                    <!-- 검색어 입력 후 (검색어 자동완성) -->
                    <div class="search_autocomplete">
                        <div class="autocomplete_txt">
                            <div id="brandView">
                                <ul>
                                </ul>
                            </div>
                            <div id="ark" style="height:170px;">
                                <div class="ark_wrap" id="ark_wrap" style="display: none;">
                                    <ul id="ark_content_list"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="autocomplete_right">
                            <div class="category_brand">
                                <p>카테고리/브랜드</p>
                                <div class="brand">
                                    <p id="autocomplete_brand">브랜드</p>
                                </div>
                                <div class="category">
                                    <p id="autocomplete_category">카테고리</p>
                                </div>
                            </div>
                            <div class="autocomplete_img">
                                <p><span>"<span id="autocomplete_query">{0}</span>"</span>에 대한 주요 검색 결과</p>
                                <!--                                     <p><span>"<span id="autocomplete_query"></span>&#32;"</span>에 대한 주요 검색 결과</p> -->
                                <ul id="auto2">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--// 검색어 입력 후 (검색어 자동완성) -->
                </div>
                <!--//검색박스 활성화 data_react -->
            </div>
            <!--// 201705 search_box_wrap -->
            <div class="util_menu" style="display:block;">
                <ul class="clearfix">
                    <!-- 로그인/로그아웃에 따라 다르게 보이게 처리 -->
                    <!-- VIP Lounge -->
                    <li>
                        <a href="/vip/lounge" id="vipBtn" style="display: none;">
                            <img src="/images/common/icon_vip.png" style="width:33px; height:33px; padding: 4px 9px;">
                        </a>
                    </li>
                    <!-- 로그인/로그아웃 -->
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/member/login">로그인</a>
                        <input type="hidden" class="loginStatus" value="0">
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                        </form>
                        <a href="javascript:void(0)" onclick="logout()" id="logoutBtn">로그아웃</a>
                        <input type="hidden" class="loginStatus" value="1">
                    </li>
                    <li class="header_dropmemu mypage">

                        <a class="btn" href="/mypage" onclick="GA_Event('공통','헤더_메뉴','마이페이지')">마이페이지</a>
                        <div class="list">
                            <ul>
                                <li><a href="/mypage/myorder" onclick="GA_Event('공통','헤더_메뉴','마이페이지_주문조회')">주문조회
                                    <!-- 주문조회 -->
                                </a></li>


                                <li><a href="/mypage/modify"
                                       onclick="GA_Event('공통','헤더_메뉴','마이페이지_회원정보변경')">회원정보변경
                                    <!-- 회원정보변경 -->
                                </a>
                                </li>
                                <li><a href="/mypage/reviewList" onclick="GA_Event('공통','헤더_메뉴','마이페이지_온라인상담')">1:1 문의
                                    <!-- 온라인 상담 -->
                                </a></li>
                            </ul>
                        </div>
                    </li>

                    <li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>