<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/biz/layout/default}">
<th:block layout:fragment="content">
    <script>
        // 한 페이지에 띄울 개수
        let amount = 5;

        $().ready(function () {

            // 테이블 선택한 행 table-active 적용
            $("input[type=checkbox]:not(#checkAll)").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('tr').addClass("table-active");
                } else {
                    $(this).closest('tr').removeClass("table-active");
                }
            });

            // 체크박스 전체선택/해제
            $("#checkAll").click(function () {
                $("input[type=checkbox]").prop("checked", this.checked).trigger("change");
            });

            // 체크된 체크박스 개수에 따라 checkAll 변경
            $("input[type=checkbox]:not(#checkAll)").click(function () {
                let total = $("input[type=checkbox]:not(#checkAll)").length;
                let checked = $("input[type=checkbox]:checked:not(#checkAll)").length;

                $("#checkAll").prop("checked", total == checked);
            });

            // 기본적으로 1페이지 불러옴
            let param = {"pageNum": 1, "amount": amount};
            getPage(param);

            // 모달 열릴 때 이벤트
            $('#reviewModal').on('show.bs.modal', function (event) {
                $('#reviewModal').find("#title").text("");
                $('#reviewModal').find("#content").text("");
                $('#reviewModal').find("#replyContent").text("");
                $('#reviewModal').find("#replyForm").val("");
                let tag = $(event.relatedTarget);
                let id = tag.data('id');

                $.ajax({
                    url: "[(@{/mypage/review/})]" + id,
                    method: "get",
                    success: function (data) {
                        $('#reviewModal').find("#title").text(data.title);
                        $('#reviewModal').find("#content").append(data.content);

                        if (data.status == 0) { // 답변대기일 때
                            $("#replyForm").show();
                            $("#replyContent").hide();
                            $("#cancelBtn").text("취소");
                            $(document).on('click', '#replyBtn', function () {
                                register(id, $("#replyForm").val());
                            })
                            $("#replyBtn").show();
                        } else { // 답변완료일 때
                            $.ajax({
                                url: "[(@{/mypage/review/reply/})]" + id,
                                method: "get",
                                success: function (data) {
                                    $("#replyContent").append(data.content);
                                    $("#replyContent").show();
                                    $("#replyForm").hide();
                                    $("#cancelBtn").text("닫기");
                                    $("#replyBtn").hide();

                                },
                                error: function (request, status, error) {
                                    alert(request + ", " + status + ", " + error);
                                },
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader(csrf_header, csrf_token);
                                }
                            });

                        }


                    },
                    error: function (request, status, error) {
                        alert(request + ", " + status + ", " + error);
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrf_header, csrf_token);
                    }
                });
            })


        });

        // 답변 등록 버튼 클릭 시
        function register(id, content) {
            content = content.split(/\n/g).join('<br/>');
            $.ajax({
                url: "[(@{/mypage/review/reply/register})]",
                method: "post",
                data: JSON.stringify({
                    "originId": id,
                    "content": content
                }),
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    $('#reviewModal').modal('hide');
                },
                error: function (request, status, error) {
                    alert(request + ", " + status + ", " + error);
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrf_header, csrf_token);
                }
            });
        }

        // 검색버튼 클릭 시
        $(document).on("click", '#searchBtn', function () {
            let param = {
                "pageNum": 1, "amount": amount
            };

            // 문의 키워드 검색
            let type = $("#reviewKeywordType option:selected").val();
            let keyword = $("#reviewKeyword").val();
            if (keyword != "") {
                param.type = type;
                param.keyword = keyword;
            }
            // 날짜 검색
            let start_date = $("#startDateInput").val();
            let end_date = $("#endDateInput").val();
            if (start_date != null && end_date != null) {
                param.start_date = start_date;
                param.end_date = end_date;
            }
            // 문의 종류 선택
            let category = $("#category option:selected").val();
            if (category != "") {
                param.category = category;
            }
            // 처리 상태 선택
            let status = $(":input:radio[name=status]:checked").val();
            if (status != -1) {
                param.status = status;
            }

            getPage(param);
        });

        // 서버에 데이터를 요청해 받아와 페이지를 만드는 함수
        function getPage(param) {
            $.ajax({
                url: "[(@{/mypage/searchMypageReview})]",
                method: "post",
                data: JSON.stringify(param),
                dataType: 'json',
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    let list = data.list;
                    let page = data.page;

                    $(".tbody").empty();
                    $.each(list, function (idx, val) {
                        addRow(param, idx, val);
                    });

                    addPagination(param.pageNum, page);

                },
                error: function (request, status, error) {
                    alert(request + ", " + status + ", " + error);
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrf_header, csrf_token);
                }
            });
        }

        // 테이블에 동적으로 row 추가하는 함수
        function addRow(param, idx, data) {
            let tbody = $(".tbody");
            let row = "<tr>";
            row += "<td class=\"text-center\"><input class=\"form-check-input\" type=\"checkbox\"></td>";
            let index = (param.pageNum - 1) * (param.amount) + idx + 1;
            row += "<th class=\"text-center\" scope=\"row\">" + index + "</th>";
            row += "<td class=\"text-center\">" + data.category + "</td>";
            row += "<td class=\"text-center\" data-bs-toggle=\"modal\" data-bs-target=\"#reviewModal\" data-id='" + data.id + "'>" + data.title + "</td>";
            if (data.status == 0) { // 0이면 답변대기, 1이면 답변완료
                row += "<td class=\"text-center\">답변대기</td>";
            } else {
                row += "<td class=\"text-center\">답변완료</td>";
            }
            row += "<td class=\"text-center\">" + data.userEmail + "</td>";
            row += "<td class=\"text-center\">" + data.editDate.toString().substring(0, 10) + "</td></tr>";

            tbody.append(row);
        }


        // 페이지 버튼 동적으로 추가하는 함수
        function addPagination(pageNum, page) {
            let pagination = $(".pagination");
            pagination.empty();

            let row = "";
            if (page.prev) {
                row += "<li class=\"page-item\">\n" +
                    "                <a class=\"page-link\" href=\"#\" onClick=\"paging(" + (page.startPage - 1) + ")\">이전</a>\n" +
                    "            </li>";
            }
            for (var i = page.startPage; i <= page.endPage; i++) {
                if (i == pageNum) {
                    row += "<li class=\"page-item\"><a class=\"page-link on\" href=\"#\" onClick=\"paging(" + i + ")\">" + i + "</a></li>";
                } else {
                    row += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\" onClick=\"paging(" + i + ")\">" + i + "</a></li>";
                }

            }
            if (page.next) {
                row += "<li class=\"page-item\">\n" +
                    "                <a class=\"page-link\" href=\"#\" onClick=\"paging(" + (page.endPage + 1) + ")\">다음</a>\n" +
                    "            </li>";
            }

            pagination.append(row);

        }

        // 페이지를 눌렀을 때
        function paging(page) {
            let pageNum = parseInt(page);

            let param = {
                "pageNum": pageNum, "amount": amount
            };

            // 문의 키워드 검색
            let type = $("#reviewKeywordType option:selected").val();
            let keyword = $("#reviewKeyword").val();
            if (keyword != "") {
                param.type = type;
                param.keyword = keyword;
            }
            // 날짜 검색
            let start_date = $("#startDateInput").val();
            let end_date = $("#endDateInput").val();
            if (start_date != null && end_date != null) {
                param.start_date = start_date;
                param.end_date = end_date;
            }
            // 문의 종류 선택
            let category = $("#category option:selected").val();
            if (category != "") {
                param.category = category;
            }
            // 처리 상태 선택
            let status = $(":input:radio[name=status]:checked").val();
            if (status != -1) {
                param.status = status;
            }

            getPage(param);
        }

    </script>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <div class="card-body p-3">
                        <form class="row">
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label" for="reviewKeyword">검색분류</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="reviewKeywordType">
                                        <option value="id">작성자</option>
                                    </select>
                                </div>
                                <div class="col-7">
                                    <input class="form-control" type="text" id="reviewKeyword" autofocus>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label">기간</label>
                                </div>
                                <div class="col-2">
                                    <input type="date" id="startDateInput" class="form-control">
                                </div>
                                <div class="col-2">
                                    <input type="date" id="endDateInput" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label>문의종류</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="category">
                                        <option value="">전체</option>
                                        <option value="행사/이벤트">행사/이벤트</option>
                                        <option value="쿠폰/혜택문의">쿠폰/혜택문의</option>
                                        <option value="주문/확인취소">주문/확인취소</option>
                                        <option value="웨딩 프로모션">웨딩 프로모션</option>
                                        <option value="온라인수선">온라인수선</option>
                                        <option value="오프라인 문의">오프라인 문의</option>
                                        <option value="오에라 문의">오에라 문의</option>
                                        <option value="상품문의">상품문의</option>
                                        <option value="배송관련">배송관련</option>
                                        <option value="반품">반품</option>
                                        <option value="기프트카드문의">기프트카드문의</option>
                                        <option value="기타">기타</option>
                                        <option value="교환">교환</option>
                                        <option value="고객정보">고객정보</option>
                                        <option value="결제/환불문의">결제/환불문의</option>
                                        <option value="현대카드 레드바우처 문의">현대카드 레드바우처 문의</option>
                                        <option value="SYSTEM X BTS 문의">SYSTEM X BTS 문의</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label">처리상태</label>
                                </div>
                                <div class="col-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="all" name="status" value="-1"
                                               checked>
                                        <label class="form-check-label" for="all">전체</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="wait" name="status" value="0">
                                        <label class="form-check-label" for="wait">답변대기</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="complete" name="status"
                                               value="1">
                                        <label class="form-check-label" for="complete">답변완료</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-outline-primary" type="reset">초기화</button>
                                    <button id="searchBtn" class="btn btn-primary" type="button">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width:5%">
                                    <input class="form-check-input" id="checkAll" type="checkbox">
                                </th>
                                <th scope="col" class="text-center" style="width:5%">#</th>
                                <th scope="col" class="text-center" style="width:15%">카테고리</th>
                                <th scope="col" class="text-center" style="width:25%">문의제목</th>
                                <th scope="col" class="text-center" style="width:10%">처리상태</th>
                                <th scope="col" class="text-center" style="width:15%">작성자</th>
                                <th scope="col" class="text-center" style="width:10%">문의일</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">

                            </tbody>
                        </table>
                        <!-- TODO pagination 페이징 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">

                            </ul>
                        </nav>
                        <!-- 답글 모달창 -->
                        <div class="modal fade" id="reviewModal" tabindex="-1" style="display: none;"
                             aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold">문의 답변 작성</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body border">
                                        <form class="row" id="reviewReplyForm">
                                            <input type="hidden" th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>
                                            <div class="row mb-3">
                                                <div class="col-2">
                                                    <label class="form-label fw-bold" for="title">문의제목</label>
                                                </div>
                                                <div class="col-9">
                                                    <p id="title"></p>
                                                </div>
                                            </div>
                                            <div class="row mb-3 border-bottom">
                                                <div class="col-2">
                                                    <label class="form-label fw-bold" for="content">문의내용</label>
                                                </div>
                                                <div class="col-9">
                                                    <p id="content">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mb-3">
                                                <div class="col-2">
                                                    <label class="form-label fw-bold" for="replyContent">답변</label>
                                                </div>
                                                <div class="col-9">
                                                    <textarea class="form-control" rows="10" id="replyForm"
                                                              style="display:none"
                                                              autofocus></textarea>
                                                    <p id="replyContent" style="display:none">

                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cancelBtn" class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                            취소
                                        </button>
                                        <button type="button" id="replyBtn" class="btn btn-primary">
                                            등록
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>