<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/brand.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/contents.css}"/>
    <link rel="stylesheet" th:href="@{/css/font_443.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/brand.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/contents.css}"/>
    <link rel="stylesheet" th:href="@{/css/print.css}"/>

    <!--js-->
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.vticker.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv-printshiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
    <script type="text/javascript" th:src="@{/js/ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form-3.51.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_function.js}"></script>
    <script type="text/javascript" th:src="@{/js/videojs-ie8.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/makePCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/netfunnel_skin.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/unorm.js}"></script>
    <script type="text/javascript" th:src="@{/js/appboy.min.js}"></script>
</th:block>
</html>