<div class="lnb_wrap" th:fragment="lnb">
    <h4><a href="/mypage" >마이페이지<!-- 마이페이지 --></a></h4>
    <div class="lnb">
        <dl>
            <dt>주문조회</dt>
            <dd><a href="/mypage/order/myorders" onclick="GA_Event('마이페이지','LNB','주문/배송/반품/취소');">주문/배송/반품/취소</a></dd>
        </dl>
        <dl>
            <dt>혜택관리</dt>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','나의 쿠폰');">나의 쿠폰<!-- 쿠폰함 --></a></dd>
        </dl>
        <dl>
            <dt>나의 상품관리</dt>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','위시리스트');">위시리스트<!-- 위시리스트 --></a></dd>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','재입고 알림');">재입고 알림<!-- 재입고알림 --></a></dd>
        </dl>
        <dl>
            <dt>나의 정보관리</dt>
            <dd><a href="/mypage/modify" >개인정보 변경/탈퇴</a></dd>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','배송지 관리');">배송지 관리</a></dd>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','원클릭 결제 관리');">원클릭 결제 관리</a></dd>
        </dl>
        <dl>
            <dt>나의 활동관리</dt>
            <!-- <dd><a href="#">회원등급</a></dd> -->
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','내 상품평');">내 상품평</a></dd>
            <dd><a href="" onclick="GA_Event('마이페이지','LNB','상품 Q&A');">상품 Q&A</a></dd>
            <dd><a href="/mypage/reviewList" onclick="GA_Event('마이페이지','LNB','1:1 문의');">1:1 문의</a></dd>
            <!-- <dd><a href="#">이벤트 참여현황</a></dd> -->
        </dl>
    </div>
    <!-- ph_guide -->
    <div class="ph_guide">
        <p class="tlt">고객센터 운영 안내</p>
        <p class="phone">1800-5700<span style="color:#c69c6d;" class="txt">(유료)</span></p>
        <p class="txt">평일(월~금)<br>am 09:00 ~ pm 18:00<span>토/일, 공휴일 휴무</span></p>
        <a href="mailto:shophelp@thehandsome.com">shophelp<br>@thehandsome.com</a>
    </div>
    <!-- //ph_guide -->
</div>