<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/head :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{/fragment/csrf::csrf}"></th:block>
<script>
    $(document).ready(function () {
        $("#Btn").click(function () {

            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    email: $("#email").val()

                }),
                url: "/analysis/secession",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    $("#isgetout").text(data)
                },
                error: function (request, status, error) {
                    ajaxError(request, status, error)
                },
                beforeSend:function(xhr){
                    xhr.setRequestHeader(csrf_header,csrf_token)
                }
            });

        });
    });


    function ajaxError(request, status, error) {
        let message = "code : " + request + "\n";
        message += "message : " + request.responseText + "\n";
        message += "error : " + error;

        console.log(message);
    }
</script>

<form>
    <input type="text" id="email" name="email">
    <input type="button" class="btn gray" value="변경사항 저장" id="Btn">

    <span id="isgetout"></span>
</form>
</body>
</html>