<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/biz/layout/default}">
<th:block layout:fragment="content">
    <script>
        $().ready(function () {

            // 테이블 선택한 행 table-active 적용
            $("input[type=checkbox]:not(#checkAll)").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('tr').addClass("table-active");
                } else {
                    $(this).closest('tr').removeClass("table-active");
                }
            });

            // 체크박스 전체선택/해제
            $("#checkAll").click(function () {
                $("input[type=checkbox]").prop("checked", this.checked).trigger("change");
            });

            // 체크된 체크박스 개수에 따라 checkAll 변경
            $("input[type=checkbox]:not(#checkAll)").click(function () {
                let total = $("input[type=checkbox]:not(#checkAll)").length;
                let checked = $("input[type=checkbox]:checked:not(#checkAll)").length;

                $("#checkAll").prop("checked", total == checked);
            });
        });
    </script>
    <button type="button" class="btn btn-primary">
        Basic Modal
    </button>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <!-- 검색옵션 -->
                <div class="card p-3">
                    <div class="card-body p-3">
                        <form class="row">
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label" for="keyword">검색어</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select">
                                        <option>상품명</option>
                                        <option>상품코드</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <input autofocus class="form-control" id="keyword" type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label">상품분류</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="large">
                                        <option selected="">Choose...</option>
                                        <option th:value="${null}">미설정</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="medium">
                                        <option selected="">Choose...</option>
                                        <option th:value="${null}">미설정</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="form-select" id="small">
                                        <option selected="">Choose...</option>
                                        <option th:value="${null}">미설정</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label" for="brand">브랜드</label>
                                </div>
                                <div class="col-2">
                                    <input class="form-control" id="brand" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-outline-primary" type="reset">초기화</button>
                                    <button class="btn btn-primary" type="submit">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End 검색옵션 -->
                <!-- 검색결과 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">상품목록</h5>
                        <div class="row">
                            <table class="table table-hover table-bordered">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" class="text-center">
                                        <input class="form-check-input" id="checkAll" type="checkbox">
                                    </th>
                                    <th scope="col" class="text-center">#</th>
                                    <th scope="col" class="text-center">상품명</th>
                                    <th scope="col" class="text-center">상품코드</th>
                                    <th scope="col" class="text-center">판매가</th>
                                    <th scope="col" class="text-center">색상</th>
                                    <th scope="col" class="text-center">사이즈</th>
                                    <th scope="col" class="text-center">상품분류</th>
                                    <th scope="col" class="text-center">브랜드</th>
                                    <th scope="col" class="text-center">재고</th>
                                    <th scope="col" class="text-center">상품 등록일</th>
                                    <th scope="col" class="text-center">비고</th>
                                </tr>
                                </thead>
                                <tbody id="searchResult">
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <th class="text-center" scope="row">1</th>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">샘플상품1</td>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">MM2B3WJS085M</td>
                                    <td>10000</td>
                                    <td></td>
                                    <td></td>
                                    <td>대분류 &gt; 중분류 &gt; 소분류</td>
                                    <td></td>
                                    <td>0</td>
                                    <td>2022-07-03</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <th class="text-center" scope="row">2</th>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">샘플상품2</td>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">MM2B3WJS085M</td>
                                    <td>10000</td>
                                    <td></td>
                                    <td></td>
                                    <td>대분류 &gt; 중분류 &gt; 소분류</td>
                                    <td></td>
                                    <td>0</td>
                                    <td>2022-07-03</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <th class="text-center" scope="row">3</th>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">샘플상품3</td>
                                    <td data-bs-toggle="modal" data-bs-target="#productModal">MM2B3WJS085M</td>
                                    <td>250000</td>
                                    <td></td>
                                    <td></td>
                                    <td>대분류 &gt; 중분류 &gt; 소분류</td>
                                    <td></td>
                                    <td>0</td>
                                    <td>2022-07-03</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- TODO pagination 페이징 -->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">다음</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="modal fade" id="productModal" tabindex="-1" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">상품명</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row">
                                                <input type="hidden" th:name="${_csrf.parameterName}"
                                                       th:value="${_csrf.token}"/>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="name">상품명</label>
                                                    </div>
                                                    <div class="col-9">
                                                        <input autofocus class="form-control" id="name" type="text"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="id">상품코드</label>
                                                    </div>
                                                    <div class="col-9">
                                                        <input class="form-control" id="id" type="text" disabled>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="price">가격</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group">
                                                            <span class="input-group-text">₩</span>
                                                            <input aria-label="Price" class="form-control"
                                                                   id="price" min="0"
                                                                   type="number">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="color">색상</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="color" type="text">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="size">사이즈</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="size" type="text">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="brand">브랜드</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="brand" type="text">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label">분류</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <select class="form-select" id="large">
                                                            <option selected="">대분류</option>
                                                            <option th:value="${null}">미설정</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-3">
                                                        <select class="form-select" id="medium">
                                                            <option selected="">중분류</option>
                                                            <option th:value="${null}">미설정</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-3">
                                                        <select class="form-select" id="small">
                                                            <option selected="">소분류</option>
                                                            <option th:value="${null}">미설정</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="detail">상품 설명</label>
                                                    </div>
                                                    <div class="col-9">
                                                            <textarea class="form-control" id="detail"
                                                                      style="height: 100px;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="col-form-label" for="image1">이미지</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input accept="image/*" class="form-control mb-1"
                                                               id="image1" type="file">
                                                        <input accept="image/*" class="form-control mb-1"
                                                               id="image2" type="file">
                                                        <input accept="image/*" class="form-control mb-1"
                                                               id="image3" type="file">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-2">
                                                        <label class="form-label" for="stockAmount">재고</label>
                                                    </div>
                                                    <div class="col-3">
                                                        <input class="form-control" id="stockAmount" min="0"
                                                               type="number">
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger me-auto">
                                                삭제
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                취소
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                변경
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End 검색결과 -->
            </div>
        </div>
    </section>
</th:block>
</html>